[2016-04-29 20:40] jcoyne opened #1947 "Creator displays in brackets on index page"
<img width="801" alt="screen shot 2016-04-29 at 3 39 21 pm" src="https://cloud.githubusercontent.com/assets/92044/14928954/9b3d4864-0e20-11e6-9135-9e3c2cd2b54d.png">

[2016-04-29 20:41] jcoyne opened #1948 "Title should not display twice in index view"
<img width="801" alt="screen shot 2016-04-29 at 3 39 21 pm" src="https://cloud.githubusercontent.com/assets/92044/14928990/c25022f0-0e20-11e6-9cb9-57966c062971.png">

Since it's the header, no need to display it in the table too.

[2016-04-29 20:43] jcoyne commented on #1944
It looks to me like the collection widget is not preselecting the items (collection_ids) for which it is already a member.

[2016-04-29 21:18] mjgiarlo opened #1949 "Verify we're not broken with turbolinks turned on"
See: https://github.com/projecthydra/sufia/pull/1932#discussion_r61469566

Test that in particular to see if turbolinks causes problems. Also, verify whether this step is still accurate and needed:

https://github.com/projecthydra/sufia/wiki/Sufia-Management-Guide#user-interface

[2016-04-29 21:18] #1865 closed

[2016-04-29 22:04] #1870 closed

[2016-04-29 22:47] atz commented on #1948
Can you specify a URL where this would display?

[2016-04-29 22:49] mjgiarlo commented on #1948
@atz Do a search. It's in the `/catalog` views, I believe.

[2016-04-29 23:07] atz commented on #1948
OK.  Note: I see it in the "Gallery" view also.

[2016-04-30 00:59] atz commented on #1948
OK, that template `app/views/shared/_attributes.html.erb` is very static.  It displays:

- Title
- Owner
- Depositor
- Creator
- Description
- Keywords
- Date Uploaded

Many of those can be empty.  Do we want to always display them anyway?

It uses a table for layout.  Would we prefer a bootstrapism?

[2016-04-30 04:22] mjgiarlo commented on #1948
My take: do not display if empty. I'm ambivalent on table v. bootstrapism. @mtribone @ggeisler @aeschylus ?

[2016-05-02 12:26] jcoyne opened #1951 "Clicking "delete all" on notifications screen gives improper flash message"
<img width="1248" alt="screen shot 2016-05-02 at 7 24 35 am" src="https://cloud.githubusercontent.com/assets/92044/14954305/ffa6fac6-1036-11e6-85a8-885aecb64ec2.png">

### Descriptive summary

When deleting notifications, the flash message shows a stringified hash.

### Expected behavior

A message that says "Notifications deleted"

### Actual behavior

A message with hash representations of the n

[2016-05-02 12:59] jcoyne commented on #1942
It looks like this was introduced by https://github.com/projecthydra/sufia/commit/a5c69cb1baa01f676e429ca12817c514b7b5d436

@atz I'm not exactly sure what your intention was with that code. Currently if `:embargo_release_date`, `:lease_expiration_date`, and `:rights` are empty, then it displays "No metadata".  But it's often true that none of these three fields are set. Why aren't we looking for `

[2016-05-02 13:04] jcoyne commented on #1942
Two suggested ways to fix this:
1. Never check for empty metadata.  All records have metadata. Just display it.
1. Make "rights" a required field on the create page. We recently made it have an empty default value, which is probably why this shows up now.

[2016-05-02 14:03] jcoyne commented on #1943
I didn't understand your intention from the wireframes.  This sounds reasonable to me.  +1 on slotting this for 7.1.0.

@elrayle can we remove the "question" and "needs feedback" label now?

[2016-05-02 15:47] mjgiarlo commented on #1942
IIRC, the required fields in Sufia 6 were:

1. Title (which we defaulted to the original filename)
2. Creator (which we default to the depositor's name)
3. Rights
4. Keyword(s)

In the PCDM/Works/CC shuffle, I missed that this changed.

[2016-05-02 15:49] #1944 closed

[2016-05-02 17:23] ggeisler commented on #1948
I agree with not showing any field that is empty. I also agree that I wouldn't show the title field in the metadata area, given it is shown as the title of the main content area.

I'd suggest a `dl` is more appropriate for presenting metadata like this, but one *could* make an argument that it's tabular data so a table isn't terrible.

[2016-05-02 17:24] jcoyne commented on #1949
Why is this tagged "needs feedback"?  Who are we waiting on to provide it?

[2016-05-02 17:46] mjgiarlo commented on #1949
Removed that label.

[2016-05-02 18:32] #1947 closed

[2016-05-02 19:14] jcoyne commented on #1948
@ggeisler I think a `dl` is a particularly poor choice.  The definition of "Creator" is "a person or thing that brings something into existence".  When we are talking about the creator of a particular object, it's data about the object.

https://www.w3.org/MarkUp/html3/deflists.html

[2016-05-02 19:22] #1942 closed

[2016-05-02 19:23] mtribone commented on #1948
@jcoyne In HTML5 it has been reborn as the description list and is good for key value pairs like metadata.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl

[2016-05-02 19:24] jcoyne commented on #1948
Yes, I was just noticing I was looking at a very old spec.  It' is permissible.

[2016-05-02 19:29] ggeisler commented on #1948
Thanks for providing the reference @mtribone. We use it all the time for just this purpose (SearchWorks, Spotlight) and it seems like a fine solution to me.

[2016-05-02 19:31] jcoyne commented on #1948
I believe the current design was @mtribone's so please discuss between yourselves if this should be changed.    If we decide to go with `<dl>` I believe we can just use the Blacklight provided views (as that's what it uses)

[2016-05-02 19:35] jcoyne commented on #1949
I have confirmed that the issue I raised on #1932 is in fact broken with turbolinks enabled.  You can see in this screenshot that an incorrect template for batch upload has been used (no field for label or resource type):

<img width="1248" alt="screen shot 2016-05-02 at 7 24 35 am" src="https://cloud.githubusercontent.com/assets/92044/14965418/f3203dee-1072-11e6-98fa-a39e4434e2ac.png">

[2016-05-02 19:37] mjgiarlo commented on #1948
If @mtribone is down with the `<dl>`, it will be great to better align our views with Blacklight's.

[2016-05-02 19:43] mtribone commented on #1948
@jcoyne @mjgiarlo I am indeed down with the `<dl>` and aligning more with Blacklight

[2016-05-02 19:46] jcoyne commented on #1949
TinyMCE (for the admin), is also broken with Turbolinks.

[2016-05-02 19:47] jcoyne commented on #1949
@mjgiarlo close this?

[2016-05-02 22:17] #1951 closed

[2016-05-03 00:29] atz opened #1962 "Metadata verification JS busted"
Apparently we now require 4 fields for a New Work (Title, Creator, Tag, Rights):
![screen shot 2016-05-02 at 5 18 51 pm](https://cloud.githubusercontent.com/assets/109954/14971822/ee99f96e-108a-11e6-9c0d-e0bb983616c3.png)

But the green checkmark in the screenshot shows the form validation that we used to have has been broken.  User can save a file with empty rights, for example.  Other screens po

[2016-05-03 00:31] atz commented on #1962
Note also the style difference between the "legend" asterisk and the per-field asterisks (size and color).  They should be visually the same.

[2016-05-03 00:42] jcoyne commented on #1962
How did you get to this state? It works correctly for me.

[2016-05-03 00:49] atz commented on #1962
Same as ever: nuke, checkout master, pull and rebuild (bundle, generate, etc).

[2016-05-03 04:17] jcoyne commented on #1962
I see this too now. It's because the fields are no longer marked with the "required" attribute.

[2016-05-03 04:33] jcoyne commented on #1962
It's because in the generated test application:
[code]

[2016-05-03 12:55] #1962 closed

[2016-05-03 13:49] #1369 closed

[2016-05-03 15:41] #1949 closed

[2016-05-03 17:31] mjgiarlo commented on #1948
Fixed by https://github.com/projecthydra/sufia/pull/1950

[2016-05-03 17:31] #1948 closed

[2016-05-04 12:04] kerchner commented on #1784
I notice that `spec/fixtures/*_fits.xml` files all have references in their `<filepath>` tags to @mjgiarlo specific paths, such as `/home/mjg/workspace` etc. (and in at least one case a @jeremyf path - `/Users/jfriesen/Repositories`).  This may (or may not) be worth a look as part of the cleanup of PSU-isms.

[2016-05-04 13:22] jcoyne opened #1967 "Get rid of upgrade 6.0.0 generator"
https://github.com/projecthydra/sufia/blob/master/lib/generators/sufia/upgrade600_generator.rb

Can we merge that back into the install generator?  I'm not sure we want to support a Sufia 5 -> Sufia 7 upgrade. Having an extra generator slows the install process, and adds unnecessary indirection that makes it complicated to understand how it works.

[2016-05-04 13:35] mtribone opened #1968 "Responsive Display of Save/Visibility Widget"
### Descriptive summary

The save/visibility widget in Sufia 7.0.0 visually falls behind the metadata fields on smaller screen sizes for tablet and phone _when_ additional metadata options are visible.

### Expected behavior
I would expect the two columns to adjust appropriately as the screen width changes and provide enough room for both columns on tablet and drop to the bottom of the metadata on

[2016-05-04 13:35] mtribone commented on #1968
![screen shot 2016-05-04 at 9 24 04 am](https://cloud.githubusercontent.com/assets/4163828/15015717/843ee686-11db-11e6-8ed8-6260fe9febdd.png)

[2016-05-04 13:44] mjgiarlo commented on #1967
I would like to keep the generator around for folks going from Sufia 4/5 -> 6, but I'm also happy to disentangle the bits of it used in the install generator so that the install tool doesn't need to call the upgrade generator.

[2016-05-04 14:52] mtribone opened #1969 "Work Show Page – Additional Title Does Not Display"
### Descriptive summary

Additional titles for a work do not display on the work's show page. (Sufia 7.0.0)

### Expected behavior

When adding additional titles to a work, I expect to see them on the work's show page under the first title.

### Actual behavior

Additional titles appear in the metadata when editing a form, but do not display on the work's show page.

### Steps to reproduce the beh

[2016-05-04 14:52] mtribone commented on #1969
![screen shot 2016-05-04 at 10 26 41 am](https://cloud.githubusercontent.com/assets/4163828/15018115/50b676b6-11e6-11e6-8e0c-fb4c817e405c.png)

[2016-05-04 14:52] mtribone commented on #1969
![screen shot 2016-05-04 at 10 26 14 am](https://cloud.githubusercontent.com/assets/4163828/15018129/5ac4e70a-11e6-11e6-80ed-4e64872d8ec2.png)

[2016-05-04 18:00] mtribone opened #1970 "Batch Create New Works – Display of Works"
### Descriptive summary

Containing element for the listing and display of batch files after adding files displays incorrectly. The containing element is too small for the content and wraps and bunches content together. (Sufia 7.0.0)

### Expected behavior

Expected the listing of batch files for new works to fill the amount of space in the min column.

### Actual behavior

Listing of batch files

[2016-05-04 18:00] mtribone commented on #1970
![screen shot 2016-05-04 at 10 56 55 am](https://cloud.githubusercontent.com/assets/4163828/15023916/8c69674e-1200-11e6-8166-6e50aeb59d66.png)

[2016-05-04 18:15] mtribone opened #1971 "Batch Edit Descriptions – Resource Type"
### Descriptive summary

When I try to batch edit works, the resource type is missing. (Sufia 7.0.0)

### Expected behavior

Expected to see resource type

### Actual behavior

Resource type is missing from batch edit descriptions

### Steps to reproduce the behavior

1. Select group of works by selecting checkboxes
1. select edit button

### Related work

Link to related tickets or prior related

[2016-05-04 18:15] mtribone commented on #1971
![screen shot 2016-05-04 at 11 06 51 am](https://cloud.githubusercontent.com/assets/4163828/15024385/a9dfe012-1202-11e6-8c18-eb46ad1e2f98.png)

[2016-05-04 19:08] relaxing opened #1972 "Clicking on creator causes 500 internal server error"
### Descriptive summary

Sufia HEAD commit 224101238189fbbf1ac5eb133c78f19d163eeae1

Solr parameters: {"facet.field"=>["resource_type_sim", "creator_sim", "tag_sim", "subject_sim", "language_sim", "based_near_sim", "publisher_sim", "file_format_sim"], "facet.query"=>[], "facet.pivot"=>[], "fq"=>["edit_access_group_ssim:public OR discover_access_group_ssim:public OR read_access_group_ssim:public OR

[2016-05-04 19:39] njaffer opened #1973 "'Share Work' feature not working"
### Descriptive summary

Current Sufia 7 master branch,As User A I tried to create a new work and  shared it with User B. When I logged in as User B, I don't see any notification, nor see the work in 'Files Shared with Me'

### Expected behavior

As User B, I get notification and I can see the work shared with me.

### Actual behavior

### Steps to reproduce the behavior

1. Create a new Work
2. S

[2016-05-04 20:42] elrayle opened #1974 "Add visibility to collections"
### Descriptive summary

Sufia 7.0.beta

### Expected behavior

New feature:  Add visibility to collections

[2016-05-04 21:53] atz commented on #1967
If they are going to 6, won't they be using a 6.x release to do it?

[2016-05-05 02:32] mjgiarlo commented on #1967
good point, @atz!

[2016-05-05 03:27] mjgiarlo commented on #1972
The link to creators looks like this in the works show page: `/catalog?q=Prof.+Bootsy+Collins&search_field=creator`

`/catalog?f%5Bcreator_sim%5D%5B%5D=Prof.+Bootsy+Collins`

[code]

[2016-05-05 03:30] mjgiarlo commented on #1972
The link to creators looks like this in the works show page (and it breaks): `/catalog?q=Prof.+Bootsy+Collins&search_field=creator`

This link works, but it's obviously different: `/catalog?f%5Bcreator_sim%5D%5B%5D=Prof.+Bootsy+Collins`

Full traceback:

[code]

[2016-05-05 03:31] mjgiarlo commented on #1972
Tagging Blacklight-y folks: @cbeer @jcoyne

[2016-05-05 14:06] njaffer commented on #1973
It is working, but you have to click on + button to save it!. The + button seems to be confusing as 'Add More' button
<img width="737" alt="screen shot 2016-05-05 at 10 04 52 am" src="https://cloud.githubusercontent.com/assets/12487929/15045516/e69ba238-12a8-11e6-9648-68c7007a6d92.png">

[2016-05-05 14:06] #1973 closed

[2016-05-05 14:08] jhallida opened #1977 "User profile throws Exception when not logged in"
When logged out, I click on “Recently Uploaded” from the home page, then click on a username. The resultant URL (http://localhost:3000/users/jhallida@indiana-dot-edu) works when logged in, but when logged out it gives a NoMethodError in Users#show

[2016-05-05 14:14] jhallida opened #1978 "Item display page shows XML garbage for some metadata fields"
When any content is present, some metadata fields look like this in the interface on the item display page.

Property" itemscope itemtype="Type" class="attribute rights">Attribution-NonCommercial-ShareAlike 3.0 United States.

The fields affected are rights - date created - language - identifier - related URL - resource type

[2016-05-05 14:18] jhallida opened #1979 "Only the first title and the first description display on the work show page"
Entering multiple titles and descriptions is allowed and entries beyond the first can be edited, but they do not display in the show interface.

[2016-05-05 14:24] jhallida opened #1980 "bugs with create / edit collection page"
1. Putting anything in location, thumbnail, representative, and related URL fields throws exception NoMethodError when attempting to save.

2. Title is a required field but it isn’t asterisked

[2016-05-05 14:26] jhallida opened #1981 "Translation missing for "Transfer Files Link""
On the Dashboard, the popup text for the “Transfer Files Link” link says “translation missing”

[2016-05-05 14:27] jhallida opened #1982 "Checkbox on 'my' pages needs a label"
A checkbox hides/shows the sort by and batch edit options in many pages, but this checkbox has no label. Also it is not lined up with the corresponding gear icon.

[2016-05-05 14:28] jhallida opened #1983 "Tags / keywords do not display on item display pages"
I don’t see tags / keywords in the display page for a work, even though my item has keywords.

[2016-05-05 14:29] jhallida opened #1984 "Hard to un-select a collection when submitting item"
It’s hard to know how to NOT put an item in a collection when submitting it. There is no ‘no collection’ choice. You can actually use CTRL-click to unselect but that's not intuitive to most users.

[2016-05-05 14:40] jhallida commented on #1981
Looks like there's a vocabulary entry for transfer_works_link in sufia.en.yml, which matches Sufia 7 terminology, so I think the wording just needs to be changed to "Transfer Works Link".

[2016-05-05 15:55] mjgiarlo commented on #1973
Advice on the above, @projecthydra/sufia-ui-ux-advisors :question:

[2016-05-05 16:22] mtribone commented on #1973
My initial thoughts are that the steps could be a little more explicit, so that people understand that you need to 1) select user 2) choose access 3) finish or add or share instead of the confusing + button. And then you get feedback when complete.

[2016-05-05 16:27] mtribone commented on #1980
Canceling an edit for collections returns you to the home page and gives status message that the collection was successfully updated.

![screen shot 2016-05-05 at 12 25 42 pm](https://cloud.githubusercontent.com/assets/4163828/15049504/a5b08c2a-12bc-11e6-8d88-54d266b385f8.png)

[2016-05-05 16:31] mtribone commented on #1979
Partial overlap with this ticket, but is just for title only:

https://github.com/projecthydra/sufia/issues/1969

[2016-05-05 16:34] newmanld commented on #1973
I think on the wireframe we had '+ Add' as the button, not just a plus sign  - does this better cue the user that they need to click on the button to save?  Alternatively should it say '+ Save'?  Then once saved, the  button would meant to change to a  '-Remove' (or similar) button - with another row below it populated to be able to share the work with additional users?   (Same with groups)

The d

[2016-05-05 16:49] newmanld commented on #1973
Additionally it might help to highlight the action to have a background color behind the +Add - although maybe this has implications for consistency of styles of buttons elsewhere.
![addbutton](https://cloud.githubusercontent.com/assets/3521707/15050056/8c287ed6-12bf-11e6-95cb-cad437937656.jpg)

[2016-05-05 16:51] mtribone commented on #1973
@newmanld Matching the other +Add buttons would at least make it consistent, which is where I think that we were going with the wireframes. But yeah agree that the +Add is a good start instead of the plus sign

[2016-05-05 16:56] mtribone commented on #1973
I also think the gap between the add user and choose access creates some issues, too. Might appear that you only need to select the user and poof you're done–kinda like how transfers work. It's inconsistent and confusing.

[2016-05-05 17:16] newmanld commented on #1973
Agree with @mtribone.  I think it would also be consistent with the wireframe to make the 'search for a user' field the same width as 'Select a Group'.

[2016-05-05 18:37] elrayle opened #1987 "Refactor styles to shift the visibility group in one place"
### Descriptive summary

form_group class is shifted left and there are several kludges in stylesheets to shift items back to the right.  It is unknown why the shift left occurred in the first place and what impact it would have to unshift the source definition.

### Expected behavior

For http://localhost:3000/collections/new, the radio buttons for visibility should be on the screen.  They are wi

[2016-05-05 18:46] #1974 closed

[2016-05-05 18:52] elrayle opened #1988 "Add sharing to collections"
#### Descriptive summary

Sufia 7.0.beta
##### Expected behavior

New feature: Add sharing for collections.  Depositor can share read/edit privileges with other users/groups.  For editing, this allows the sharee to perform all editing functionality for the collection including changing metadata for the collection, adding/removing works from the collection, deleting the collection.  This does _not_

[2016-05-05 19:41] #1981 closed

[2016-05-05 20:14] justcolin opened #1990 "Clean up logic in views"
### Descriptive summary

Some of the views in `HEAD` have conditionals and enumerations which are hard to read/modify since they look like they grew organically. Example from `_sort_and_per_page.html.erb`:

[code]

... is easier to read as:

[code]

### Related work

 #1610

[2016-05-05 20:15] justcolin commented on #1990
Currently working on a partial fix.

[2016-05-05 20:58] #1990 closed

[2016-05-05 21:07] atz commented on #1973
There are also other buttons with just a plus, so you can pick which part you prefer to be consistent with.  The "add similar row" functionality is fine and not really the issue here.  IIUC, the primary issue is (or was) the form doesn't save data without adding an empty row.

[2016-05-05 21:13] atz commented on #1979
I don't understand the use case of having multiple undifferentiated contributors with the same name.  Certainly the publication (or work) has to identify the individuals separately.

[2016-05-05 21:32] mtribone commented on #1973
@atz If I understand @njaffer comment above "The + button seems to be confusing as 'Add More' button". She didn't find the work shared with her as User B because she never clicked the + button to add User B. There are definitely gaps in the consistency of the interface by putting together CC and Sufia in addition to the UI Working Group only getting the workflow for works done. @mjgiarlo asked so

[2016-05-06 13:25] mtribone commented on #1987
@elrayle So I'm guessing that since the save/visibility widget is using these classes and the layout for it is different than for collections we're getting the difference in display? I'm pulling the latest to take a look.

[2016-05-06 13:33] mtribone commented on #1987
I'm see this:

<img width="1193" alt="screen shot 2016-05-06 at 9 31 14 am" src="https://cloud.githubusercontent.com/assets/4163828/15074539/92469222-136d-11e6-9d1b-0fe2caab195b.png">

[2016-05-06 13:50] relaxing commented on #1980
Putting a bad URI into the representative field throws an uncaught URI::InvalidURIError at /collections

[2016-05-06 14:10] jhallida commented on #1978
If you examine the HTML for a work page you can see the underlying problem:

<li itemprop="<span class="translation_missing" title="translation missing: en.curation_concerns.schema_org.rights.property">Property</span>" itemscope itemtype="<span class="translation_missing" title="translation missing: en.curation_concerns.schema_org.rights.type">Type</span>" class="attribute rights"><a href=http://c

[2016-05-06 15:15] randalldfloyd commented on #1977
So far I am unable to replicate locally - going to vary my environment in subtle ways and keep trying...

[2016-05-06 15:27] #1978 closed

[2016-05-06 15:27] jhallida commented on #1978
I couldn't duplicate this again after regenerating the app and starting over. I think the app was in a bad state.

[2016-05-06 15:32] elrayle opened #1993 "Create new collection: _form_metadata partial for Metadata tab"
### Wireframes
- [in context of New Work](https://wiki.duraspace.org/display/hydra/New+Collection+-+Metadata+Tab+-+Phase+1+-+UI+Wireframes) - Metadata Tab - contents of tab
- in context of Edit Work TBA
### Usage

View and change metadata for a collection.
### Implementation
- File: app/views/collections/_form_metadata.html.erb
- Save is controlled by by a widget defined in #1997
- This tab will n

[2016-05-06 15:36] elrayle opened #1994 "Create new collection: _form_relationships partial for Relationships tab"
### Wireframes
- [in context of New Work](https://wiki.duraspace.org/display/hydra/New+Collection+-+Relationships+Tab+-+Phase+1+-+UI+Wireframes) - Relationships Tab - contents of tab
- in context of Edit Work TBA
### Usage

View and change relationships for a collection.
### Implementation
- File: app/views/collections/_form_relationship.html.erb
- Save is controlled by by a widget defined in #199

[2016-05-06 15:40] elrayle opened #1995 "Create new collection: _form_share partial for Share tab"
### Wireframes
- [in context of New Work](https://wiki.duraspace.org/display/hydra/New+Collection+-+Share+Tab+-+Phase+1+-+UI+Wireframes) - Share Tab - contents of tab
- in context of Edit Work TBA
### Usage

View and change metadata for a collection.
### Implementation
- File: app/views/collections/_form_share.html.erb
- Save is controlled by by a widget defined in #1997
- This tab will not have i

[2016-05-06 15:41] randalldfloyd commented on #1977
Unable to replicate, even when trying to intentionally create inconsistent states between Solr, Fedora, and Devise user in the database. Confirmed that reporter @jhallida also unable to replicate again.

[2016-05-06 15:41] #1977 closed

[2016-05-06 15:42] cam156 opened #1996 "Add an explicit choice for getting started in the readme"
### Descriptive summary

Add some text into the [getting started section](https://github.com/projecthydra/sufia#getting-started) to explicitly point the user to either the development of a new application based on sufia, or the devlopment of features within sufia.

This should point to running the getting started and then going to either [Creating an App](https://github.com/projecthydra/sufia#crea

[2016-05-06 15:46] elrayle opened #1997 "UI Create _save_collection_widget partial"
### Wireframes:
- [in context of New Collection](https://wiki.duraspace.org/display/hydra/New+Collection+-+Metadata+Tab+-+Phase+1+-+UI+Wireframes)
- in context of Edit Work TBA
### Usage - Right Hand Side widget to control saving of new/changed collections
- Add New Collection -- menu:  top-bar-> Collections -> New
- Edit Collection -- menu: My Collections -> work's Action select-menu -> Edit (for

[2016-05-06 15:47] sfbetz commented on #1973
I think the problem is that there is one button standing in for two actions.
+ should only add new rows to the interface to add new users. I don't think relabelling it +Add will do much to signal to the user that they're actually sharing when they click the button.
My suggestion would be to add a "share" action button (at bottom right) that saves the selection.

[2016-05-07 10:17] cam156 opened #1998 "Document how to run fcrepo_wrapper and solr_wrapper for development"
### Descriptive summary

For Sufia 7.0, describe the steps to use `solr_wrapper` and `fcrepo_wrapper` for running the test app in development mode. Do that here: https://github.com/projecthydra/sufia/wiki/Sufia-Development-Guide

[2016-05-07 16:01] mjgiarlo commented on #1998
I suggest this wiki page: https://github.com/projecthydra/sufia/wiki/Sufia-Development-Guide

[2016-05-09 15:18] cam156 commented on #1998
👍  That was the page I was thinking about editing.

[2016-05-09 15:57] mjgiarlo commented on #1979
@atz What I heard was that it's possible to have two "John Smith"s as contributors, for example. For this ticket, I'm inclined to say we should continue the behavior of Sufia 6.x. Hey, @awead and @cam156, can you see what Sufia 6-based ScholarSphere does with multiple contributors with the same exact string?

[2016-05-09 16:00] mjgiarlo commented on #1987
@mtribone Are you saying you can't reproduce this bug?

[2016-05-09 16:01] mjgiarlo commented on #1988
If this is ready in time for the 7.0.0 release, great! :clap: Otherwise, I'm not inclined to make this a blocker.

[2016-05-09 16:11] cam156 commented on #1979
I will give it a spin on ScholarSphere and get back to you...

[2016-05-09 16:14] cam156 commented on #1979
Here is the current behavior:
I Type in "Smith, John" into contributor
And I click Add
And I Type in "Smith, John"
And I click Save
When the page loads
I should see ONE "Smith, John" entry in contributor

[2016-05-09 16:37] mjgiarlo commented on #1979
Thank you, @cam156! I'm re-focusing this ticket on display of multiple titles and descriptions.

[2016-05-09 16:51] mtribone commented on #1987
@mjgiarlo Yeah, I'm not quite sure of what @elrayle is experiencing without a screen shot. I see the alignment above.

[2016-05-09 18:51] paulrosen opened #2000 "Can't see existing uploads in "Files" tab when editing"
### Descriptive summary

Sufia version '82e7bc903ee64aa11c7ffe0fe7c35f6e36390afc'

When editing an existing work, and going to the "files" tab, it is empty, even though some files had been uploaded previously. Those files are shown correctly on the show page under "items".

This is confusing to the user, who thinks that the previously uploaded documents where not successfully uploaded.

### Expect

[2016-05-09 18:56] #1996 closed

[2016-05-09 18:58] mjgiarlo commented on #2000
Hi @paulrosen. Thanks for reporting this. This issue may be the same as https://github.com/projecthydra/sufia/issues/1943.

[2016-05-09 19:01] paulrosen opened #2001 "Be able to set the title of a file in the "file" tab."
### Descriptive summary

Sufia version '82e7bc903ee64aa11c7ffe0fe7c35f6e36390afc'

The only way to set the title of a file is by uploading it, then clicking the edit action and setting the title there. That is not something that a user will typically stumble on, so most files will keep their default title, which is the uploaded filename.
### Expected behavior

On the file tab, when showing the lin

[2016-05-09 19:16] paulrosen commented on #2000
Sorry, I missed that one. I think it is the same issue.

[2016-05-09 19:16] #2000 closed

[2016-05-09 19:16] mtribone opened #2002 "Abstract/Summary or Description – Add More Duplicates First"
### Descriptive summary

Whether I am creating a new work or collection, when I add another abstract or summary it duplicates the contents of the first text area. (Sufia 7.0.0)

### Expected behavior
Expected to see a blank text area after adding another
### Actual behavior
New text area is created and populated with the contents of the first text area
### Steps to reproduce the behavior

1. Creat

[2016-05-09 19:16] mjgiarlo commented on #2000
np, @paulrosen -- there's a lot of issues to go through. :)

[2016-05-09 19:17] mtribone commented on #2002
<img width="697" alt="screen shot 2016-05-09 at 3 01 47 pm" src="https://cloud.githubusercontent.com/assets/4163828/15125094/17a16b3a-15f9-11e6-887f-015e70cad83b.png">

[2016-05-09 20:15] justcolin opened #2003 "Improve accessibility of help text"
### Descriptive summary

In our user and accessibility testing we found that the default presentation of help text on Sufia forms is making some things difficult for users. Issues include (in loose order of importance):

- The help buttons to show/hide the help text do not have visible text and they are very small, making it very difficult for users using voice control software to select them.

[2016-05-09 20:17] justcolin commented on #2003
I am currently working on a PR for this.

Does anyone in @projecthydra/sufia-ui-ux-advisors have any thoughts?

[2016-05-09 21:05] heidisb commented on #2003
Colin's summary provides a lot of evidence that hiding help text under help buttons/icons is not the best. Beyond the accessibility issues and concrete problems we've found...I also encourage going back to what many consider the #1 usability principle: don't make users think.

By having the help text hidden under the button you:
1. Make them think (extra hard) about what they need to enter in each

[2016-05-09 21:24] sfbetz commented on #2003
+1 to this. We had *exactly* the same results as you in user testing we did last summer. Our solution was the same as you suggest: we reduced the amount of "help" text, and embedded it right in the deposit form instead of hiding it behind buttons. People were much less confused about how to fill in the deposit form after this change.  My thoughts on your questions:

1. I don't think "hide help tex

[2016-05-10 02:55] jcoyne commented on #1987
The issues is not that the current style on the page is wrong, but that we're adjusting it 2-3 different ways in the CSS. Can we make it a SASS mixin and reuse it?

[2016-05-10 03:01] jcoyne commented on #2001
I think you are referring to this wireframe: https://wiki.duraspace.org/display/hydra/New+Work+-+tab+Files+-+Phase+1+-+UI+Wireframes#mockup_p1-works-new-tab_files

Also interesting is that there's no way to set the filename in the batch upload:
https://wiki.duraspace.org/display/hydra/Batch+New+Works+-+Phase+1+-+UI+Wireframes#mockup_p1-works-batch_new-step1_upload_files
The label you see pictured

[2016-05-10 03:03] jcoyne commented on #1980
There should not be any location, thumbnail, representative, and related URL that display as text fields.  These must be drop downs with valid options (as is the case for works).

[2016-05-10 14:17] mtribone commented on #2003
@justcolin I really like the context of +Add and the label on the button (+Add Contributor). I've always seen the help icon all over the page as a problem, so adding minimal help text is a good solution. I worry that others will get too wordy, but I guess that is the responsibility of the adopter if they want to override the text.

I'm curious on how to approach the tome that is the rights metadat

[2016-05-10 14:20] mtribone commented on #1987
@jcoyne Okay. @elrayle has it listed as a bug and the behavior described in her issue lead me to look for a display issue. If it is just a refactoring ticket, can the issue be reworked to reflect what is needed?

[2016-05-10 14:44] jcoyne commented on #1987
Yes, I believe `technical debt` is the correct tag for this, not `bug`

[2016-05-10 15:26] mtribone opened #2004 "Masthead – Bootlint Errors"
### Descriptive summary

1. Found both `.row` and `.col-*-*` used on the same element (div.navbar-right.row.col-sm-7.col-md-6): https://github.com/twbs/bootlint/wiki/E005
1. Only columns (`.col-*-*`) may be children of `.row`s (form#search-form-header): https://github.com/twbs/bootlint/wiki/E013
1. Columns (`.col-*-*`) can only be children of `.row`s or `.form-group`s: https://github.com/twbs/boot

[2016-05-10 15:33] mtribone opened #2005 "Dashboard – Bootlint Errors"
### Descriptive summary

1. Columns (`.col-*-*`) can only be children of `.row`s or `.form-group`s: https://github.com/twbs/bootlint/wiki/E014
  * div.col-md-12
  * div.col-xs-12.heading-row
  * div.col-xs-6.col-sm-2.heading-tile
  * div.col-xs-6.col-sm-2.heading-tile
  * div.col-xs-6.col-sm-2.heading-tile
  * div.col-xs-6.col-sm-2.heading-tile
  * div.col-xs-6.proxy-search
  * div.col-xs-6
1. `.p

[2016-05-10 15:41] newmanld commented on #2003
I agree with the gist of comments here.  Embedding very brief help text in context in the form is a solution we've used locally.  A button to 'hide help text' is unnecessary.

[2016-05-10 15:58] justcolin commented on #2003
@sfbetz, @newmanld and @mtribone: Thanks for the feedback!

As for the rights metadata: I don't like the modal because it still covers up the form, and unlike pulling it open in a new window or tab, the modal it doesn't save where you were scrolled to if you switch between it and the form. I agree with @newmanld that it should be it's own issue. Maybe the PR I am working on for this issue can just

[2016-05-10 15:59] justcolin commented on #2003
@mtribine: I am glad to hear you like the added context on the add buttons, you may like an issue/PR I'll be posting later. ;-) We've done some user testing and have come up with a number of improvements to the "Add" buttons which seem to help users, so stay tuned.

[2016-05-10 16:49] mtribone commented on #2003
Sufia by default has the following and some people have asked about GPL. We're gonna need a bigger boat. @newmanld Very interested in your solution!

![screen shot 2016-05-10 at 12 46 06 pm](https://cloud.githubusercontent.com/assets/4163828/15154762/43f09076-16ad-11e6-9f02-2162712b567c.png)

[2016-05-10 17:02] sfbetz commented on #2003
Would LOVE a license selector tool - choosing a license is a serious barrier for researchers completing self-deposits. CC makes it easy: https://creativecommons.org/choose/ - But our needs are more complex than that (eg. need options for adding publisher statements, etc). Would be happy to work with someone on this in future!

[2016-05-10 17:04] crowesn commented on #2003
We're working on implementing the [Public License Selector](https://github.com/ufal/public-license-selector) at UC, for our curate based app at UC. We're customizing the questions to be more work oriented.

[2016-05-10 17:48] justcolin commented on #2003
@projecthydra/sufia-ui-ux-advisors: I am creating a new issue to talk about the license selection issue since that is a separate topic, and I have some accessibility/usability concerns there.

Any other comments on the help text before I finish up a PR?

[2016-05-10 17:53] justcolin opened #2007 "Improve license selection and documentation"
### Descriptive summary

A number of groups have worked on a variety of ways to redo how rights selection/documentation is done. I propose that we come up with one simple version which can be implemented in Sufia out of the box. I would prefer for it to be something simple, easy to maintain and easy to make accessible. It should also be made easy for Sufia-based app creators to add in a more compl

[2016-05-10 17:53] justcolin commented on #2007
@projecthydra/sufia-ui-ux-advisors

[2016-05-10 17:53] justcolin commented on #2003
See issue #2007

[2016-05-10 17:57] justcolin commented on #2007
I am concerned that a big complicated wizard-style rights selector will be difficult to make accessible and will be too burdensome for people who already know which rights they want to select. It feels like good documentation on how to pick the right license for your project on a separate page would solve that problem.

That documentation could have some nice interactive widgets to take users on a

[2016-05-10 18:00] justcolin commented on #2007
Examples that others have shared which I think would make great documentation/help pages, but would be too heavy for the form itself:

- https://creativecommons.org/choose/
- https://ufal.github.io/public-license-selector/

[2016-05-10 18:03] crowesn commented on #2007
We have modeled an implementation of the modal [public license selector](https://ufal.github.io/public-license-selector/) tool. The modal is activated with a button below the standard license dropdown. If the user selects a license from the tool, it is populated in the dropdown. We haven't tested this with users.

This arrangement leaves the dropdown in place for users in the know, but provides a

[2016-05-10 18:27] heidisb commented on #2007
This is really tricky because we need to balance letting users who know what license they want zoom through and providing guidance to users with no clue. And license selection can be a beast and very overwhelming if you have limited-to-no context around copyright and author's rights.

My thoughts: provide a simple, clear prompt for those who need it as help text. Something like:
[Need help selecti

[2016-05-10 20:43] justcolin commented on #2003
I'll see about getting a PR ready by the end of the week.

[2016-05-11 01:00] newmanld commented on #2003
@mtribone - Re our local solution - the developer currently working on this agrees that modal is problematic for mobile and touch devices. We’ve tentatively decided to hide the chooser (rights dialogue) below a preset screen resolution.   I'll share screen shots when we have something to show (or comment if we back away from this approach).

[2016-05-11 04:15] jcoyne opened #2010 "Admin stats controller is returning nonsense"
It's returning `example.com` as an active user, even though there are only users `user1@example.com` and `user2@example.com`. I think this is because it's using `depositor_tesim` (a parsed field).

I think we can simply switch to `depositor_ssim`

[2016-05-11 16:54] #2010 closed

[2016-05-11 17:46] mtribone commented on #1979
@mjgiarlo Got the descriptions figured out. Problem was behind keyboard. Will investigate failing tests and then PR.

![screen shot 2016-05-11 at 1 45 09 pm](https://cloud.githubusercontent.com/assets/4163828/15190590/bbc61a4a-177e-11e6-86a7-b8004cb25b80.png)

[2016-05-11 18:57] paulrosen commented on #2001
Yes, that wireframe is exactly what I mean. I see that the milestone for that is Aug 1st. I need to demo this behavior much sooner than that. Would it be helpful if I pitch in? Is there someone actively working on this already?

[2016-05-11 19:04] jcoyne commented on #2001
That's just wild speculation. No one is currently working on it, so please help out.

[2016-05-11 19:15] mjgiarlo commented on #2001
@paulrosen It'd be great if you could pitch in, yes! I'd be happy to include this earlier if you wanted to work on a PR.

In order for us to merge any code contributions, we'll first need to have a signed Contributor License Agreement on file for you as an individual. You can read more about our CLA processes here:
https://wiki.duraspace.org/display/hydra/Hydra+Project+Intellectual+Property+Licens

[2016-05-11 19:35] paulrosen commented on #2001
Ok, I just sent that. I am a contractor hired by UVA to set up an instance of Sufia.

[2016-05-11 19:38] mjgiarlo commented on #2001
Great, @paulrosen, thanks. We usually turn those around in 24-48 hours. In the meantime, don't let that get in your way of getting started. Let us know if we can help. If you'd like real-time communication, consider joining the [Hydra Slack team](https://wiki.duraspace.org/pages/viewpage.action?pageId=43910187#Getintouch!-Slack) (we're in the #software-development channel).

[2016-05-11 20:43] #1980 closed

[2016-05-11 20:44] #1972 closed

[2016-05-11 20:48] hectorcorrea commented on #2002
@mtribone I cannot make this happen

![screen shot 2016-05-11 at 4 46 58 pm](https://cloud.githubusercontent.com/assets/568286/15195921/0aa9eb14-1798-11e6-8a80-342f85ee07ba.png)

[2016-05-11 23:25] #1967 closed

[2016-05-13 13:43] mtribone commented on #2002
@hectorcorrea So far it is happening only in Chrome and it doesn't actually add the second description if you just hit save. The text from the first box displays in the second box but does not get added to the work.

[2016-05-13 13:59] mtribone opened #2020 "Update Collections to Display Multiple Titles and Descriptions"
### Descriptive summary

Titles and descriptions are multivalued. When PR for Works  is merged, update collections to display multiple titles and descriptions. Currently, the additional content is combined into one.

### Expected behavior
When I view the collection show page, I should see multiple titles and descriptions.
### Actual behavior
Only see first title and description and they display wi

[2016-05-13 14:00] mtribone commented on #2020
![screen shot 2016-05-13 at 9 53 58 am](https://cloud.githubusercontent.com/assets/4163828/15250176/74b06fba-18f1-11e6-98a6-e5fac0ecb26e.png)

[2016-05-13 15:19] jcoyne commented on #379
Upstream: https://github.com/spohlenz/tinymce-rails/issues/188

This indicates we could set `<body data-no-turbolink>` on the main page if the user has edit perms

[2016-05-13 15:56] justcolin opened #2021 "Improve accessibility and usability of multi-value fields"
### Descriptive summary

In the course of performing user testing with Sufia, @bnhowell found that the "Add" and "Remove" buttons were causing a number of problems for users. They had trouble figuring out and remembering what they did. We found that repositioning them and adding the name of the field to the buttons helped users a great deal.

The "Remove" buttons in the proposed example below are

[2016-05-13 15:57] justcolin commented on #2021
@projecthydra/sufia-ui-ux-advisors

[2016-05-13 16:18] newmanld commented on #2021
Seems like user testing has validated this approach.  Curious if the entire form is longer or shorter.

[2016-05-13 16:24] newmanld commented on #2021
In regard to accessibility - any plans for accessibility scan?  We were dinged by an accessibility scan (and I suspect different scans highlight different things) for issues we would not have thought about.  One was that when we had a list of files and download buttons in line with each file, the download buttons (at least the title text behind the buttons) needed to be distinct.  This might apply

[2016-05-13 16:29] mtribone commented on #2021
Yeah similarly to what @newmanld has described above, I was wondering @justcolin if we could use Bootstrap's `sr only` to keep the context, Remove Creator, for users of assistive devices?

[2016-05-13 16:31] mtribone commented on #2021
also tagging @jonearley about `sr-only`

[2016-05-13 16:38] #2002 closed

[2016-05-13 16:43] heidisb commented on #2021
Big improvement. All are logical changes made to improve both usability and accessibility. Much clearer and cleaner.

[2016-05-13 17:18] jonearley commented on #2021
@mtribone Appending the field label to the remove button wouldn't add much value in this case since the remove action is referring only to the adjacent field where the label is for the entire multi-field. I think it does make sense to append the label on the "add another..." button since that action is referring to the entire multi-field.

Maybe `sr-only` could read as "remove adjacent field" to h

[2016-05-13 17:26] justcolin commented on #2021
It is a couple of `em`s longer, but not enough to be a real difference.

[2016-05-13 17:30] mtribone commented on #2021
@jonearley I guess I misread the initial thread that adding the label to the button was helpful, but because of mobile was to be removed. The text "remove adjacent field" _might_ be helpful. Hopefully the inputs and controls are grouped properly in HTML. I should go check on that...

[2016-05-13 17:48] hectorcorrea opened #2024 "Batch create error"
### Descriptive summary

When using Batch Create, if the process fails because a missing tool (e.g. Libre Office / soffice) we get an exception message and it seems to stop processing the rest of the files being uploaded.

### Expected behavior
The user should see a more user-friendly error message (instead of an exception) and the processing of the rest of the files should not stop.

### Actual b

[2016-05-13 18:08] jcoyne commented on #2024
I suspect the rest of the files stop because you are using the default ActiveJob "immediate runner" implementation rather than a real queuing backend.

[2016-05-13 18:08] justcolin commented on #2021
@newmanld: These changes only make the fields a couple of `em`'s longer so the length isn't a problem.

As for accessibility scans, I ran some scans as well as hand testing with some screen readers a little while ago (that's where are lot of these issues are originating from). Once we get through the list of issues from that scan I was planning on running another scan and some more usage tests to

[2016-05-13 18:08] justcolin commented on #2021
re:@mtribone: I've looked into adding screen-reader-only text there and contextually it is pretty obvious what is going on, but I was thinking of adding "previous field" after "Remove" for clarity (since adjacent is a visual cue). However, I'll ask a real screen reader user that we know what he thinks.

[2016-05-13 18:08] jcoyne commented on #2024
Also, in production, they would never see an error here, the exception would be reported in the queuing framework.

[2016-05-13 18:43] justcolin commented on #2021
@mtribone and @jonearley: Our screen reader specialist said that they would prefer it if each button had text which read as "Remove previous Author". "Remove" should be visible, the rest should be `sr-only`.

[2016-05-13 18:56] mjgiarlo commented on #2021
Tagging CurationConcerns folks so they can see this: @jpstroop @escowles @tpendragon

[2016-05-13 19:00] escowles commented on #2021
👍  this looks like a great improvement

[2016-05-13 19:43] bnhowell commented on #2021
Let's test it and see.

[2016-05-13 19:44] justcolin commented on #2021
@bnhowell: Test which part?

[2016-05-13 20:09] tpendragon commented on #2021
:+1: Pretty down with anything that improves accessibility, and think we should move it to CC. Thank you so much for looking into this.

[2016-05-13 20:11] justcolin commented on #2021
@jonearley is currently writing a PR which add this change to the Hydra gem that CC and Sufia get these fields.

[2016-05-13 20:19] bnhowell commented on #2021
@justcolin We should test the Add FieldName and Remove controls with a blind user as well as a low vision user (more difficult to find a low vision user)

[2016-05-16 13:38] jcoyne commented on #2021
The widget as draw appears to  allow the user to remove every entry.  I'm pretty sure we don't want to allow that.

[2016-05-16 13:45] justcolin commented on #2021
@jcoyne: Users want to be able to remove any field, so if the last field is no longer applicable they can remove it. However, if you remove fields until only one is left the remove button will disappear so there is always at least field.

[2016-05-16 17:05] #1979 closed

[2016-05-16 17:06] mjgiarlo commented on #1983
@njaffer Are you working on this ticket or is it available?

[2016-05-16 17:37] njaffer commented on #1983
@mjgiarlo, I put in the PR (https://github.com/projecthydra/sufia/pull/2023) to rename the tag to tags in one place, and saw your message that it will be taken care of with another PR, so I have unassigned myself!

[2016-05-16 18:01] mjgiarlo commented on #1983
thanks, @njaffer!

[2016-05-17 14:57] jonearley commented on #2021
Here is a UI preview from the PR I'm working on.

- When an add or remove action is made I have focus set to the last field.
- The list of fields has aria-live=polite set so when that region changes a screen reader will report when idle (e.g. a new field was added or removed). https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions
- The remove button for screen readers r

[2016-05-17 15:25] hectorcorrea commented on #1983
Keywords display in the Work show page. I think we should close this now. Thoughts?

![screen shot 2016-05-17 at 11 22 27 am](https://cloud.githubusercontent.com/assets/568286/15328119/d37346b6-1c21-11e6-9742-21a27a75983c.png)

[2016-05-17 15:28] #1983 closed

[2016-05-17 15:29] jenlindner commented on #1987
I'm working on this.

[2016-05-17 15:43] mjgiarlo commented on #1987
Great, @jenlindner, thanks! You should be able to add yourself as the assignee (over on the right) once you accept the invitation to join the projecthydra GitHub org. Maybe it got filtered to your spam/junk mail.

[2016-05-17 15:44] mjgiarlo commented on #1987
In the meantime, I'm going to assign this issue to me so folks know this one is taken. Once you've accepted the GitHub invitation, feel free to take this issue away from me. :)

[2016-05-17 15:47] mjgiarlo commented on #2021
@jonearley Looks great! Thank you for working on this.

[2016-05-17 15:49] simosacchi commented on #2021
+1 looking really good!

[2016-05-17 16:15] hectorcorrea opened #2032 "Admin user woes"
Following the instructions at https://github.com/projecthydra/sufia/wiki/Sufia-Management-Guide#admin-users to setup an admin does not work out of the box.

The problem seems to be that `current_user.admin?` returns true since it looks at the Roles database table but CurationConcerns implementation of `admin?` does something different (https://github.com/projecthydra-labs/curation_concerns/blob/ma

[2016-05-17 16:18] mjgiarlo commented on #2032
Tagging CurationConcerns folks to see if they want this work done at that level: @tpendragon @escowles @jcoyne @jpstroop

[2016-05-17 16:33] jenlindner commented on #1987
So, there's a style in CC that looks like it was intended to provide the left-right padding for this, but it wasn't included in sufia (#set-access-controls & > .form-group). I explicitly imported it, and also altered the selector to apply to any form group, not just a direct child (the markup in sufia has the form group under one extra tag). And this works and allows for the classes in sufia addin

[2016-05-17 16:36] bnhowell commented on #2021
Looks so good Jon! The ARIA Live Regions are a great solution too!
What are the small grey icons on the right side of the entry fields? What
do they activate?

On Tue, May 17, 2016 at 11:49 AM, Simone Sacchi <notifications@github.com>
wrote:

--
Ben Howell | Accessibility & User Experience Specialist
Design & Discovery | LIT | University of Michigan Library
bnhowell@gmail.com

[2016-05-17 16:37] escowles commented on #2032
It looks like the relevant models are Sufia-specific, but if there's a good way to resolve the two different ways of doing the role check, then doing that in CC sounds good to me.

[2016-05-17 16:39] jonearley commented on #2021
@bnhowell You can ignore those small grey icons, that's my lastpass Chrome extension.

[2016-05-17 16:50] mjgiarlo commented on #1987
Tagging @projecthydra/sufia-ui-ux-advisors to see if they have any input. Thanks, @jenlindner

[2016-05-17 16:51] mjgiarlo commented on #2032
Yeah, CC and Sufia should do the same thing w/r/t role checking.

[2016-05-17 17:07] hectorcorrea commented on #379
Replacing `<body>` with `<body data-no-turbolink>` in https://github.com/projecthydra/sufia/blob/master/app/views/layouts/homepage.html.erb#L7 seems to fix the problem.

[2016-05-17 17:13] mjgiarlo commented on #379
I'm fine with adding that to Sufia 7.0.0 for users w/ edit perms.

You working with @mbklein, @hectorcorrea?

[2016-05-17 17:24] bmquinn opened #2033 "Test CC fix for missing collection keywords once 1.0.0.beta3 release is out"
### Descriptive summary

Creating a new Collection with a keyword produces an error

### Expected behavior

Creating a Collection with a keyword should succeed.

### Actual behavior

Receive an error: undefined method `keyword' for Sufia::CollectionPresenter

### Steps to reproduce the behavior

1. Go to Create New Collection page "/collections/new"
2. Add a title (required) and a keyword to the f

[2016-05-17 17:40] mtribone commented on #1987
@jenlindner Can you push your branch, so that we can get a sense of what has been removed/added from Sufia? There were two CSS files referenced in Lynette's issue at the top and I'd like to see how your solution addresses her observations.

[2016-05-17 17:47] jenlindner commented on #1987
Sure, one sec. It's called 1987_tech_debt.

[2016-05-17 17:49] jenlindner commented on #1987
And I changed line 43 in CC app/assets/stylesheets/curation_concerns/modules/forms.scss to this:

  & .form-group { padding: 0 1.75em; }

[2016-05-17 17:54] jenlindner commented on #1987
I still need to do a little checking into what the .visibility class is used for besides padding in Sufia.

[2016-05-17 17:59] mtribone commented on #1987
Yeah wondering if we need _any_ of the form group declarations in those style sheets (form_progress and collections) if you've made the fix in CC and imported it into Sufia?

[2016-05-17 18:03] jenlindner commented on #1987
I'll check it out without them.

[2016-05-17 18:34] justcolin commented on #1987
I don't think that CC should be customizing the padding in those locations. Bootstrap provides good defaults for padding out elements. If we don't write custom paddings in CC and just use Bootstrap Sufia will look better and it will be easier to overwrite.

[2016-05-17 18:38] jenlindner commented on #1987
I'd already taken them out.

As for visibility, it looks like this line:
  new VisibilityComponent(this.element.find('.visibility'))

in save_work_control.es6  is referring to this markup in the _form_visibility_component partial, both in Sufia:
  <div class="form-group visibility">

And it's used in views/curation_concerns/file_sets/show.html on an h1.

So I'm going to look into re-naming the cla

[2016-05-17 19:24] jcoyne commented on #1987
@justcolin Sufia doesn't inherit these styles from CC.

[2016-05-17 19:26] justcolin commented on #1987
Sorry for the confusion, I was thinking of a related styling thing that I've been looking at.

[2016-05-17 20:20] jenlindner commented on #1987
So, the tech debt was created by Sufia copying the #set-access-controls & < .form-group style from CC (https://github.com/projecthydra-labs/curation_concerns/blob/master/app/assets/stylesheets/curation_concerns/modules/forms.scss#L41-L60) and writing a few new ones when it didn't quite work (because of one extra enclosing tag in the Sufia form).

These are the copy and new style:
1. app/assets/sty

[2016-05-17 21:14] jenlindner commented on #1987
Using the #set-access-controls id also fixes the visibility radios in the batch create and new work views.

[2016-05-17 21:45] #2020 closed

[2016-05-17 21:56] mjgiarlo commented on #2033
Let's point Sufia at the latest in CC and confirm this is also fixed in Sufia. Thanks, @bmquinn! I'm assigning this to you for now.

[2016-05-17 22:14] justcolin commented on #1987
Could you also add some classes to the HTML so we can make those selectors less specific? The `id` plus all of those classes will make overwriting those styles a bit onerous.

[2016-05-18 14:03] cam156 opened #2041 "Breadcrumb on works page does not include link to my works"
### Descriptive summary

In Sufia master When I go to a Work the bread crumbs include the dashboard, but not My Works.

Old code in ScholarSphere:
![screen shot 2016-05-18 at 9 57 50 am](https://cloud.githubusercontent.com/assets/1599081/15361429/78888270-1cdf-11e6-8c45-7c7300cfffa3.png)

New Code in Sufia spec internal:
![screen shot 2016-05-18 at 9 59 54 am](https://cloud.githubusercontent.com/a

[2016-05-18 14:06] #1969 closed

[2016-05-18 14:39] jenlindner commented on #1987
I was working under the assumption that I should change as little as possible in general, just remove and clean up what could be removed. But definitely #set-access-controls would be better off as a class. I'll do that and push up a branch here and in CC shortly.

My main question though is is it okay to make this change in CC and then import the forms.scss module into Sufia? Seems the right way t

[2016-05-18 15:18] bmquinn commented on #2033
[code]
![sufia_keyword](https://cloud.githubusercontent.com/assets/1395707/15364312/b46c80dc-1ce1-11e6-94a2-48c449903a18.png)

Looks like it works!

[2016-05-18 15:33] cam156 opened #2042 "Links in descriptions are not clickable"
### Descriptive summary

In  Sufia master when I add a link to my description that link should be clickable.

In ScholarSphere
![screen shot 2016-05-18 at 11 27 28 am](https://cloud.githubusercontent.com/assets/1599081/15364749/b3353d1c-1ceb-11e6-927a-e8231c1541ff.png)

In Sufia
![screen shot 2016-05-18 at 11 27 23 am](https://cloud.githubusercontent.com/assets/1599081/15364741/af8ebbac-1ceb-11e6-

[2016-05-18 16:14] jenlindner commented on #1987
the branches were pushed.

[2016-05-18 16:17] mjgiarlo commented on #2033
Thanks, @bmquinn! Closing.

[2016-05-18 16:17] #2033 closed

[2016-05-18 16:18] mjgiarlo commented on #2042
Thank you for finding and reporting this, @cam156!

[2016-05-18 16:21] #379 closed

[2016-05-18 16:25] mjgiarlo commented on #2041
Good eye!

[2016-05-18 16:27] mjgiarlo commented on #2003
@justcolin When do you think a PR might be available for this work? I'm considering including this in 7.0.0.

[2016-05-18 17:29] justcolin commented on #2003
@mjgiarlo: I should have it done next week. Would that work for you?

The work is mostly done, I am just making sure things work well in Sufia and getting @heidisb to help out with some potential improvements to the existing help text (along with also spending some time on other projects, thus the slower development time on this).

[2016-05-18 17:29] justcolin commented on #2003
We may also have the add/remove button work done by then as well.

[2016-05-18 17:32] mjgiarlo commented on #2003
Works for me, @justcolin.

[2016-05-18 17:35] justcolin commented on #2021
@jonearley: Do you think you'll be able to finish your PR for this next week?

[2016-05-18 20:57] atz commented on #2021
Not that we have dealt with i18n in any serious way yet, but note that "previous" would only make sense in `ltr` languages.  I think that's acceptable for foreseeable releases.

[2016-05-18 21:04] justcolin commented on #2021
Good point! That text should be set in the locale files anyways so it could become part of any translation work. I haven't tested it, but is Sufia/CC designed to be easily restyled for right-to-left languages?

[2016-05-18 21:05] justcolin commented on #2021
@jonearley I believe we were talking about moving the "remove" and "add" text into the `locales` files, correct?

[2016-05-18 21:11] hectorcorrea opened #2049 "Work listing points to incorrect tab for permissions"
### Descriptive summary

In My Works view the link on the "Visibility" icon points to the wrong URI. The link points to `edit#permission_display` but instead it should point to `edit#share`

### Expected behavior
My Works should render a link to `edit#share` when rendering the Visibility icon.

### Actual behavior
My Works renders a link to `edit#permissions_display` when rendering the Visibility

[2016-05-18 22:09] #1987 closed

[2016-05-19 01:09] atz commented on #2021
In the example animated image, note that the Creator's `+` button also reads "Add another Title".

[2016-05-19 01:25] atz commented on #2042
If we include unqualified links, it gets sorta dicey when you think about the large number of TLDs that now exist.  For example, if the text refers to `ruby.io`, are they referring the kernel class or a website?  It *is* legitimate namespace for a site.  Why would you assume it was a website?  If you did, would you assume `http` or `https`?  Why not FTP, SFTP, IRC, SSH... or a reference to the tit

[2016-05-19 03:29] mjgiarlo commented on #2042
@atz I don't think we should try to linkify everything. I think a sufficient approach would be to run the description field through the rails_autolink helper, and let it do its thing. You can see the regexes it uses here: https://github.com/tenderlove/rails_autolink/blob/master/lib/rails_autolink/helpers.rb

This will restore functionality that is working in Sufia 6.

[2016-05-19 03:39] mjgiarlo commented on #2021
Re: rtl languages... good question. I am not sure!

[2016-05-19 03:40] mjgiarlo commented on #2021
Oops, sorry for temporarily closing the issue. Misfire.

[2016-05-19 04:07] jcoyne opened #2051 "If file upload errors, then work creation fails."
Because the file upload sets a hidden field on the page with no value.  Then when you submit a work it looks for an uploaded file with the ID of nil:
[code]

We should probably remove any nil file upload ids in `create_with_files_actor.rb`

(BTW, the initial file upload failed because it was too big and exceeded the limit set in nginx)

[2016-05-19 04:08] jcoyne opened #2052 "Title tag (in the html header) on work show page has brackets"
We should join the titles or just pick the first one.
[code]

[2016-05-19 04:12] jcoyne opened #2053 "Unable to find reflection error"
[code]

[2016-05-19 04:15] jcoyne commented on #2053
Hybox error, not a sufia error.

[2016-05-19 04:15] #2053 closed

[2016-05-19 12:51] mtribone commented on #2042
@mjgiarlo Am I looking at the right thing?

https://github.com/projecthydra/sufia/blob/64238e6f18f315cebf5d822d231f0a87298b8203/app/helpers/sufia/sufia_helper_behavior.rb#L96

[2016-05-19 13:07] hectorcorrea opened #2054 "My Works missing "show details" button"
### Descriptive summary

According to the wire frames the "My Works" view should include an option to allow to the user to see the details of the works in the list. The wire frames propose a ">" little icon next to each work https://wiki.duraspace.org/display/hydra/My+Works+-+Phase+1+-+UI+Wireframe#mockup_p1-works-my_works

This is how Sufia looks at the moment:

![screen shot 2016-05-19 at 9 03 1

[2016-05-19 13:20] jcoyne commented on #2054
I wouldn't call this a bug. It was a back logged feature request.

[2016-05-19 13:20] jcoyne commented on #2054
Probably not required for 7.0.0 either

[2016-05-19 13:25] #2049 closed

[2016-05-19 13:35] mtribone commented on #2042
Got it. I needed to call `<%=iconify_auto_link(description) %>` when I updated works and collections for multivalues.

![screen shot 2016-05-19 at 9 33 05 am](https://cloud.githubusercontent.com/assets/4163828/15395234/e75cd41a-1da4-11e6-9afb-84c0bac445f1.png)

[2016-05-19 14:36] cam156 opened #2056 "Collection Creator help text includes double quote and gets cut off"
### Descriptive summary

In Sufia 6 & 7 The help text for a collection creator includes double quotes which cause trouble in the html.

### Expected behavior
![screen shot 2016-05-19 at 10 29 30 am](https://cloud.githubusercontent.com/assets/1599081/15397139/fb90c4de-1dac-11e6-87c1-11b672a70988.png)

### Actual behavior
Sufia 6: Sows crazy text
![screen shot 2016-05-19 at 10 21 27 am](https://clou

[2016-05-19 15:12] awead opened #2057 "Sufia assumes all concerns are in the Sufia url namespace"
### Descriptive summary

If I define an additional curation concern, ex:

    $ bundle exec rails g curation_concerns:work Thing

This gets added to the list under `CurationConcerns.config.registered_curation_concern_types`

Sufia makes use of this list when generating links, but it assumes that they are in the Sufia namespace. For example, https://github.com/projecthydra/sufia/blob/master/app/vie

[2016-05-19 15:25] cam156 commented on #2041
@mjgiarlo Features tests in ScholarSphere caught this...

[2016-05-19 15:43] jonearley commented on #2021
@atz Good catch, but that's fixed in the most recent PR.

[2016-05-19 15:48] jonearley commented on #2021
This PR has been merged into hydra-editor. Thanks for the help @jcoyne: https://github.com/projecthydra/hydra-editor/pull/113

@justcolin I agree about moving the text into the `locals` files. I'll start on a second PR for that.

[2016-05-19 17:32] #2042 closed

[2016-05-19 19:20] #2057 closed

[2016-05-19 20:13] jeremyf opened #2060 "Add shoulda-matchers for rspec"
At present, there are tests that read something analogous to the following:

[code]

The documentation mode of `rspec` (e.g. `rspec -fd`) renders as such:

[code]

From a specification and documentation stand point of behavior, we are not clearly stating the intention of the test. We are instead stating a side-effect of delegation.

A solution is to leverage [Shoulda::Matchers delegate_method synt

[2016-05-19 20:38] atz commented on #2042
To be clear, that (url) helper regex requires scheme-qualified URLs... except for the special case of `^www\.`, that are assumed to be http.

[code]

That seems like an acceptable compromise.  Note: it means `www.google.com` linkifies, and `google.com` doesn't.  Of the 30 or so tabs I have open, 2 are `www` addresses.  (None of our own servers are `www`.)

tl;dr: include scheme in yo' links.

[2016-05-19 20:43] atz commented on #2052
IMO, primary title is enough for title element.  In a modern tabbed browser context, the screen real estate is pretty small and the primary title should be enough for semantic purposes.

[2016-05-19 20:47] atz commented on #2024
Right, it would be a different asynchronous thread (likely on a different system) in production.  There would be no "moment" for the exception to interrupt a user-facing process.

I would categorize this as `WONTFIX`.  I want the worker to throw an exception when dependencies are not installed.  If that means the exceptions get through to the browser using `:inline` backend in development mode, th

[2016-05-19 21:09] mjgiarlo commented on #2054
@hectorcorrea Can you scan the backlog for any related tickets? If we don't have any, let's keep this around, else let's :boom: it. Moving to 7.1.0.

[2016-05-19 21:12] mjgiarlo commented on #2041
Nice, @cam156. Maybe we should pull some of those back over to Sufia.

[2016-05-19 21:21] atz commented on #1984
Intuitive or not, that is the browser-default behavior for mutli-selects.  That makes it not a bug.  Adding a button to clear selections, for example, would be an enhancement/feature, not a bugfix.

[2016-05-19 21:58] mjgiarlo commented on #2052
Yes, :+1: to picking the first one.

[2016-05-20 00:31] atz opened #2063 "Collection creation layout issues"
On collection creation page, e.g. http://localhost:3000/collections/new

- `* indicates required fields` breaks formatting, floats to the right, big and red
- No fields are marked as required, but at least title actually is required
- Visibility radio buttons are positioned partially off the page.

We already fixed the visibility display on multiple other interfaces, but apparently did not do so h

[2016-05-20 01:40] atz opened #2064 "Batch upload sidebar title problem - untranslated key"
http://localhost:3000/batch_uploads/new

- Sidebar title is "Header" (untranslated key)

![screen shot 2016-05-19 at 6 38 44 pm](https://cloud.githubusercontent.com/assets/109954/15414593/f3e1d766-1df0-11e6-93ac-76833547b0ce.png)

Similar format issues for file upload page.

[2016-05-20 01:41] atz commented on #2063
Similar radio button button issue in #2064

[2016-05-20 01:52] atz commented on #2064
Inspecting this, we see again #1680, in that the problematic CSS is delivered 3 times over:
[code]

[2016-05-20 02:00] jenlindner commented on #2064
that's coming from blacklight, and the styles tagged tech debt in sufia were attempting to override it.

[2016-05-20 02:11] jenlindner commented on #2064
This style problem was addressed in pr 800 in CC, merged yesterday, but not in latest release.

[2016-05-20 02:17] atz commented on #2064
It's coming from Blacklight, Sufia AND BrowseEverything, in this order:

- `assets/sufia.self-bbfe077803ea9f3354c9303f7e513a34ac5115622a3c5a5150a007b7fea81d01.css?body=1` line 3966
- `assets/browse_everything.self-78818b1851157d8516cbcaf993fab74bcf69c792f0e33d7469c7481c7f46eb4a.css?body=1` line 3956
- `assets/blacklight.self-84c9378879b3fd4d3d0e01c9fdcf4bb2dea5f1fd8db27ec604de6f8d558cf1df.css?body

[2016-05-20 02:25] atz commented on #2064
Reference was to https://github.com/projecthydra/curation_concerns/pull/800/files.  Note: that does not reduce the duplication/triplication of delivered CSS.

[2016-05-20 02:38] jenlindner commented on #2064
Yeah, I read the other issue (#1680) while we were talking. The problem of including bootstrap many times over is definitely bigger than this. It'd be nice if bootstrap could check for already present instances, maybe always pick the latest version of itself.

[2016-05-20 12:02] awead opened #2066 "Passing collection_ids into GenericWorkActor"
### Descriptive summary

When uploading a file via the UI, a `collections_ids` property is passed via the params hash. This does not cause a problem if you're uploading or creating a work in the web application. However, passing this parameter in a unit test of GenericWorkActor results in `ActiveFedora::ObjectNotFoundError`. Ex:

[code]

The cause of the problem is:
https://github.com/projecthydra

[2016-05-20 13:39] cam156 opened #2068 "em tags in help translations are showing on the page"
### Descriptive summary

In Sufia 6.6.1 (I have not verified in 7.0) the em tags being put in title, subject, and keyword are showing up in the help text.

### Expected behavior

See an emphasied word instead of seeing the tags

### Actual behavior

![screen shot 2016-05-20 at 9 33 07 am](https://cloud.githubusercontent.com/assets/1599081/15429306/5089b52e-1e6e-11e6-8d78-24303f379b99.png)
![screen

[2016-05-20 13:40] cam156 commented on #2068
We may want to look at how we are handeling this help translations.  We seem to be including html, which is affecting the page in ways we did not want...

[2016-05-20 13:42] awead commented on #2066
I can confirm this behavior in the UI as well if you alter `self.terms` in the GenericWorkForm. You must inherit all terms from `Sufia::Forms::WorkForm`.

[2016-05-20 14:02] #2060 closed

[2016-05-20 14:04] #1939 closed

[2016-05-20 14:07] #2041 closed

[2016-05-20 14:28] jcoyne commented on #2066
In the form, those empty fields are typically removed by https://github.com/projecthydra/hydra-editor/blob/master/app/forms/hydra_editor/form.rb#L58-L64

[2016-05-20 14:33] awead commented on #2066
@jcoyne yeah, I think the issue is that if `collection_ids` isn't in `self.terms` it'll never get run through that method to clean it out.

[2016-05-20 15:30] mjgiarlo commented on #2068
@cam156 would you mind also testing this with Sufia master? Thanks for finding this. :)

[2016-05-20 15:34] mjgiarlo commented on #2066
@awead can you tag this issue with some labels? It's not clear to me whether this is a bug or what.

[2016-05-20 15:59] awead commented on #2066
@mjgiarlo I don't think it's a bug, exactly, but it pertains to how one would override and add additional properties. For example, you'll have to inherit self.terms whether you use the terms or not. So, it should be captured in documentation, perhaps a refactor of GenericWorkForm that makes it more explicit as to which terms you *have* to have in your form versus which are just optional metadata.

[2016-05-20 16:05] cam156 commented on #2068
@mjgiarlo I do not have a running sufia master at the moment since I am working on sufia 6.  I will get back to it later next week if someone else does not get to it first.

[2016-05-20 16:09] jcoyne commented on #2066
@awead, @mjgiarlo what milestone for this ticket?

[2016-05-20 16:11] awead commented on #2066
I think it just needs to be linked with a documentation issue, related to @mjgiarlo's customizing metadata wiki page, and then closed.

[2016-05-20 16:16] awead opened #2072 "Document how to override metadata"
### Descriptive summary

Users should be able to add new properties to their Sufia 7 applications, as well as remove existing ones, with certain exceptions. We should document how developers can do this. It would include steps regarding model, form and view changes.
### Related work
#2066

[2016-05-20 16:16] #2052 closed

[2016-05-20 16:16] #2066 closed

[2016-05-20 16:19] jcoyne opened #2073 "Investigate why Form#model_attributes isn't preventing issue #2051"
Is it because it only handles empty string an not nil?  If we update our assumptions, are there any changes that should be made to the changes in https://github.com/projecthydra/sufia/pull/2070 ?

[2016-05-20 16:20] #2051 closed

[2016-05-20 17:39] mjgiarlo commented on #1894
@awead Can you confirm that what's in Sufia master works as expected, with technical metadata expressed on the File's metadata node with the FileSet using a characterization proxy to access this information? If so, let's close this.

[2016-05-20 17:41] mjgiarlo commented on #2003
@justcolin have any work you'd like folks to review this week?

[2016-05-20 17:42] mjgiarlo commented on #2021
@jonearley will that second PR close this issue? (Getting a handle on what's remaining for Sufia 7.0.0.)

[2016-05-20 17:42] mjgiarlo commented on #2056
Thx for taking this on, @atz

[2016-05-20 17:42] mjgiarlo commented on #2064
Thanks for taking this on, @jenlindner :)

[2016-05-20 17:45] justcolin commented on #2003
I am trying to get that out for you today. In the middle of a refactor currently.

[2016-05-20 17:46] jonearley commented on #2021
@mjgiarlo I'd say it's OK to close this issue now without that second PR.

[2016-05-20 17:53] awead commented on #1894
@mjgiarlo do we want any kind of test? If so, how would you recommend doing that?

[2016-05-20 19:26] mjgiarlo commented on #2068
:clap: perfect

[2016-05-20 19:28] mjgiarlo commented on #2072
Please use this wiki page for the documentation: https://github.com/projecthydra/sufia/wiki/Customizing-Metadata (We already have this page for 6.x doc: https://github.com/projecthydra/sufia/wiki/Customizing-Metadata-(Sufia-6.x))

And feel free to consolidate. (See: https://github.com/projecthydra/sufia/wiki/Customizing-Metadata:-nested-attributes,-part-1 and https://github.com/projecthydra/sufia/

[2016-05-20 19:32] mjgiarlo commented on #2003
Much obliged!

[2016-05-20 19:32] mjgiarlo commented on #2021
OK, thanks, @jonearley

[2016-05-20 19:32] #2021 closed

[2016-05-20 19:33] mjgiarlo commented on #1894
@awead Meh, I don't know if Sufia should test that. I'd be happy to hear you say, "CC and HW are doing what they're supposed to do and the test suite is green."

[2016-05-20 19:42] #2056 closed

[2016-05-20 20:04] awead commented on #1894
Update: Running the test app in Sufia, CharacterizationJob is getting called and it looks like some characterization terms are getting set, such as hasSize, hasMimeType. However expected terms like height and width of images are not present. Also, Sufia's FileSet view reports "not yet characterized" so some presenter work probably needs to get done there.

[2016-05-20 20:27] bnhowell opened #2076 "Improve UI for required field labels"
### Descriptive summary

The current required markings for required metadata fields in the create new work metadata page in Sufia 7 are overly complicated. They have some usability issues and could be made much simpler.

### Expected behavior

Users should be able to quickly perceive if a metadata field is required or not.

### Challenges with current UI

1. Recognition over recall: Don't make use

[2016-05-20 21:39] mjgiarlo commented on #2076
Looks good, @bnhowell. Thanks!

What do ye @projecthydra/sufia-ui-ux-advisors think?

Do you want this in CurationConcerns, @tpendragon @escowles @jpstroop @jcoyne?

[2016-05-20 21:58] atz opened #2077 "locales file values should avoid double encoding"
The locales files like `config/locales/sufia.en.yaml` should avoid double encoding values to accomplish HTML-injection.  This *should* be a default rails behavior as described here:
    http://guides.rubyonrails.org/i18n.html#using-safe-html-translations

But we are apparently working around or disabling that default.  Example:
[code]

In a `html` field value we should be able to use regular `<a>`

[2016-05-20 22:05] atz commented on #2077
Broader issue: in a project that aspires to be actively translated, intermingling markup and language strings is counter-productive.  Your language expert contributors should not be expected to be coders also.

[2016-05-20 22:07] jcoyne opened #2078 "Rights on the index page displays as a URI"
### Descriptive summary
However on the show page it displays correctly as a label.

### Expected behavior

Rights should appear as a label on the index partial

### Actual behavior

Rights appears as a URI

### Steps to reproduce the behavior

Index page
<img width="435" alt="screen shot 2016-05-20 at 5 05 55 pm" src="https://cloud.githubusercontent.com/assets/92044/15443366/5128e4a2-1ead-11e6-8b8

[2016-05-20 22:14] jcoyne commented on #1894
@awead I'm seeing the same. I'm not seeing height and width recorded..

[2016-05-20 22:16] jpstroop commented on #2076
I don't see why not.

[2016-05-20 22:20] justcolin commented on #2076
If we push this into Curation Concerns I believe this will just involve changing the defaults on some config files and adding a line or two of CSS.

[2016-05-20 22:25] jcoyne commented on #1894
This appears to be a bug in ActiveFedora.  `Hydra::Works::CharacterizationService.run(original_file)` updates the metadata in memory, and it's correctly marked as `changed?`, but `metadata.save` isn't persisting it.

[2016-05-20 22:33] jcoyne commented on #1894
AF bug: https://github.com/projecthydra/active_fedora/issues/1083

[2016-05-20 22:41] mjgiarlo commented on #2077
Keys that look messed up include:

* in `sufia.metadata_help.file_set.`
  - [ ] `title`
  - [ ] `keyword`
  - [ ] `subject`
  - [ ] `creator_html`
  - [ ] `based_near_html`
  - [ ] `rights`
* in `sufia.metadata_help.collection.`
  - [ ] `creator_html`

All of these keys should end in `_html`, and there shouldn't be any `&lt;`/`&gt;` jazz. (Not sure if we need the `&quot;`s either.

[2016-05-20 22:58] mjgiarlo commented on #2076
And then of course we'll need to make sure we don't override this anywhere in Sufia as well. I support doing this in CC, too.

[2016-05-20 23:19] atz commented on #2077
That's what's weird about that bug I just resolved: it was a `_html` field, but the fix was to encode the HTML anyway.

[2016-05-23 13:56] justcolin commented on #2003
@mjgiarlo: I have a PR ready for CC **except** the visibility field needs some improvements. I have some suggested changes from @heidisb, but it will take a little longer to fix up the myriad of things that render that field and package it all up into a PR. Would you like the CC help text changes now or to package all of the changes together into one PR?

[2016-05-23 13:57] justcolin commented on #2003
@mjgiarlo: I also almost have the set of changes Sufia will need to work with that CC PR ready, but the rights field help text requires some touching up first to prevent errors.

[2016-05-23 16:08] mjgiarlo commented on #2003
@justcolin Either way works for me. Thanks!

[2016-05-23 16:55] jonearley commented on #2076
Another usability win, @bnhowell. Thanks!

I will start a Curation Concerns pull request based on the support for this idea.

[2016-05-23 17:08] mjgiarlo commented on #2076
:clap:

[2016-05-23 21:07] awead commented on #1894
Another release to HW and CC with a minor change should have this fixed.

[2016-05-24 01:19] atz commented on #2077
Note: that isn't **`sufia.metadata_help.file_set...`**, it is **`simple_form.metadata_help.file_set...`**, which means alterations here (in the name or encoding of the value) would likely require corresponding changes upstream in the CurationConcerns/Hydra Editor code that invokes them.

[2016-05-24 01:24] atz commented on #2077
Now we can see why this method of HTML injection/encoding shifting sucks.  A consumer does not get the latitude to decide that an upstream text key should now contain html.  The encoding expectations are set by the key name.  We should attempt to avoid injecting markup this way.

[2016-05-24 01:27] mjgiarlo commented on #2077
:clap:

[2016-05-24 11:57] mtribone commented on #2063
@mjgiarlo  Perhaps we should hold on this one until the work by @jonearley and @justcolin has been completed and merged?

https://github.com/projecthydra/curation_concerns/pull/811#issuecomment-221060536

[2016-05-24 12:24] justcolin commented on #2063
I can also look into fixing this along with the other touch ups that we are doing to the Visibility field.

[2016-05-24 12:27] mtribone commented on #2063
@justcolin Yeah, man. I feel that this ticket overlaps your work.

[2016-05-24 12:40] justcolin commented on #2063
Just to double check that I am understanding this issue, the only thing that is wrong is that the radio buttons are moving too far to the left?

[2016-05-24 12:44] mtribone commented on #2063
That has been fixed by @jenlindner in CC and will be merged soon. I think it is important to align the collection creation page with the work creation page. The other issues that @atz references above are being addressed by your work and @jonearley 's work.

[2016-05-24 12:57] jenlindner commented on #2063
It was merged, it just hasn't been released.

On May 24, 2016, at 7:44 AM, Michael Tribone <notifications@github.com<mailto:notifications@github.com>> wrote:

That has been fixed by @jenlindner<https://github.com/jenlindner> in CC and will be merged soon. I think it is important to align the collection creation page with the work creation page. The other issues that @atz<https://github.com/atz> re

[2016-05-24 12:59] jcoyne commented on #2063
Released in cc 1.0.0.beta4, but rubygems is having trouble now: https://status.rubygems.org/incidents/trjgn655nf6b

[2016-05-24 13:10] jenlindner commented on #2063
Ah. Thanks.

On May 24, 2016, at 7:59 AM, Justin Coyne <notifications@github.com<mailto:notifications@github.com>> wrote:

Released in cc 1.0.0.beta4, but rubygems is having trouble now: https://status.rubygems.org/incidents/trjgn655nf6b

-
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/projecthydra/sufia/issues/2063#issuecom

[2016-05-24 14:36] jonearley commented on #2076
<img width="569" alt="screen shot 2016-05-24 at 10 26 51 am" src="https://cloud.githubusercontent.com/assets/1678665/15507548/183b8600-219a-11e6-9cbf-68789789317d.png">
<img width="569" alt="screen shot 2016-05-24 at 10 28 51 am" src="https://cloud.githubusercontent.com/assets/1678665/15507623/602cc2bc-219a-11e6-9bd6-e3f2f7976a04.png">
<img width="567" alt="screen shot 2016-05-24 at 10 29 02 am" s

[2016-05-24 14:38] jonearley commented on #2076
The light blue bootstrap info color fails a contrast check (Contrast Ratio: 2.09:1). So we can rule that one out.

[2016-05-24 14:39] jonearley commented on #2076
Red seems aggressive to me and blue looks like a tiny button.

[2016-05-24 14:41] justcolin commented on #2076
I agree that the "danger" red tends to stick out too strongly on the page, especially if there are a lot of required fields on a page so—since "info" cyan is too low contrast—my vote is for the "primary" blue color or to dull the red down to more of a maroon.

The other option is to modify the Bootstrap variables to make the colors have better contrast, then recompile or dynamically compile Bootst

[2016-05-24 14:41] simosacchi commented on #2076
I vote for Red, it might look aggressive (especially when repeated on many fields one after the other), but if these are the choices, red at least focuses the attention (and it is used many times to indicate required fields, most of the times as a red "*")

[2016-05-24 14:44] jonearley commented on #2076
<img width="568" alt="screen shot 2016-05-24 at 10 44 16 am" src="https://cloud.githubusercontent.com/assets/1678665/15508196/7da53160-219c-11e6-895a-ec2aa1fea7c9.png">

This green is the bootstrap success color.

[2016-05-24 14:55] jonearley commented on #2076
Turns out bootstrap danger red doesn't pass the contrast check either (Contrast Ratio: 3.96:1). My vote would be to use primary blue or a maroon color.

<img width="560" alt="screen shot 2016-05-24 at 10 50 45 am" src="https://cloud.githubusercontent.com/assets/1678665/15508554/f2f448ce-219d-11e6-97be-0916cd1f8ff4.png">

[2016-05-24 14:58] cam156 commented on #2068
@mjgiarlo from what I can tell those translations no longer get applied to the screen in sufia 7.0.  They are on a FileSet, but the work has the metadata  which does not get any help translations by default.

[2016-05-24 14:59] jcoyne commented on #2076
You should use info, and if that contrast doesn't work for you, we should
set the info color to something appropriate. It *is* info that we are
trying to convey, so use the semantically appropriate class.

On Tue, May 24, 2016 at 9:56 AM, Jon Earley <notifications@github.com>
wrote:

[2016-05-24 15:02] cam156 opened #2080 "Work does not show any help text by default"
### Descriptive summary

In Sufia 7.0

### Expected behavior

Work help tags would show the help

![screen shot 2016-05-24 at 11 01 57 am](https://cloud.githubusercontent.com/assets/1599081/15508809/f752db3c-219e-11e6-9c7b-e76bff16b530.png)
### Actual behavior

![screen shot 2016-05-24 at 10 43 02 am](https://cloud.githubusercontent.com/assets/1599081/15508764/c831e730-219e-11e6-988b-0cfead1a4130.

[2016-05-24 15:03] justcolin commented on #2076
If we set the info color to something appropriate it means we really should be dynamically compiling Bootstrap so we can modify the color variables. Are we okay with that?

[2016-05-24 15:21] cam156 commented on #2080
UNTESTED!!! https://github.com/projecthydra/sufia/blob/master/config/locales/sufia.en.yml#L239 should be `work:` instead of `file_set:`

[2016-05-24 15:27] jcoyne commented on #2076
We are already compiling it dynamically

[2016-05-24 15:29] justcolin commented on #2076
Cool, then we may want to open a separate ticket to go through all the color variables to make sure they all meet WCAG 2.0 AA contrast requirements. @jonearley, do you want to work on that?

[2016-05-24 15:29] jcoyne commented on #2076
Has anyone filed a bug with bootstrap regarding the contrast ratio for the default contrast of the info label?

[2016-05-24 15:31] justcolin commented on #2076
@jcoyne: Yes, people have tried in the past. Some examples:

https://github.com/twbs/bootstrap/issues/3572

[2016-05-24 15:34] justcolin commented on #2076
@jcoyne: Yes, some people have tried in the past with varying degrees of success/failure, and there are a number of accessible extensions/themes on top Bootstrap that people have made to address these problems.

Bootstrap 4 may solve some of these issues; I haven't checked yet.

[2016-05-24 15:35] justcolin commented on #2076
https://github.com/twbs/bootstrap/pull/19693

[2016-05-24 15:36] jcoyne commented on #2076
Thanks for checking.

[2016-05-24 15:37] justcolin commented on #2076
Do we want to switch to one of the accessible Bootstrap themes? Something with only minor tweaks?

Thoughts @mjgiarlo and @projecthydra/sufia-ui-ux-advisors?

[2016-05-24 15:38] justcolin commented on #2076
I would be in favor of switching over for now, then reevaluating when we switch to Bootstrap 4.

[2016-05-24 15:45] cam156 opened #2081 "Metadata no longer all linked"
### Descriptive summary

In Sufia 7 the work show page no longer links the metadata the same way that sufia 6 did.

### Expected behavior
![screen shot 2016-05-24 at 11 38 33 am](https://cloud.githubusercontent.com/assets/1599081/15510260/b461f442-21a4-11e6-942f-535b61ac7a7e.png)

### Actual behavior
![screen shot 2016-05-24 at 11 41 51 am](https://cloud.githubusercontent.com/assets/1599081/155102

[2016-05-24 15:48] jonearley commented on #2076
My vote would be for using the "label-info" class for the required element, but only if we open another issue to improve theme color accessibility. It should be as easy as using new variables. Similar to https://github.com/twbs/bootstrap/pull/19693 for example.

[2016-05-24 15:53] awead commented on #1894
This is fixed now, although there really isn't a good way of integration-testing it. Not sure if that's worth pursuing, since it would make CI more of a mess, and probably not add that much value anyway.

We're currently testing it at the presenter level, which assumes the terms are in the solr document. Beyond that, it's reasonably well-tested at the CC, HW, and AF layers.

Thoughts, @mjgiarlo?

[2016-05-24 16:10] newmanld commented on #2076
Weighing in as just one of the sufia-ui-ux-advisors:
It seems that this is a good opportunity to improve accessibility and we shouldn't let the contrast issues get past us.  Either switching to an accessible theme - per @justcolin; or making our own tweaks similar to https://github.com/twbs/bootstrap/pull/19693, per @jonearley  - whatever is most efficient prior to switching to Bootstrap 4.

I lik

[2016-05-24 16:43] mjgiarlo commented on #2063
Sounds good, @mtribone. Let's come back to this once all PRs have been merged?

[2016-05-24 16:45] mjgiarlo commented on #2068
thx, @cam156

[2016-05-24 16:46] mjgiarlo commented on #2080
@cam156 or `generic_work:` depending on how we're mapping models to the structure of the locale file.

This may be included in the work @jonearley or @fultonis are doing. Is that true, @mtribone? Or am I getting this confused with other work?

[2016-05-24 16:47] bnhowell commented on #2076
what about this color?

On Tue, May 24, 2016 at 10:41 AM, justcolin <notifications@github.com>
wrote:

--
Ben Howell | Accessibility & User Experience Specialist
Design & Discovery | LIT | University of Michigan Library
bnhowell@gmail.com

[2016-05-24 16:52] newmanld commented on #2076
@bnhowell - I don't see the new color in the previous comment?

[2016-05-24 17:01] mtribone commented on #2080
@mjgiarlo Yes addressing the help text is part of their work.

[2016-05-24 17:03] bnhowell commented on #2076
Sorry it didn't seem to upload correctly. (It looked like the maroon that
Jon Earley posted previously)

On Tue, May 24, 2016 at 12:53 PM, Linda Newman <notifications@github.com>
wrote:

--
Ben Howell | Accessibility & User Experience Specialist
Design & Discovery | LIT | University of Michigan Library
bnhowell@gmail.com

[2016-05-24 17:12] newmanld commented on #2076
@bnhowell - I think that the maroon that @jonearley posted works, and stands out better than the blue.  Obviously this is subjective!

This is the maroon?
![image](https://cloud.githubusercontent.com/assets/3521707/15513092/2140af48-21b1-11e6-9b71-b2c035fb0e6b.png)

[2016-05-24 17:13] mjgiarlo commented on #1894
:shipit:

[2016-05-24 17:19] mtribone commented on #2076
I could go either way with the color of the "required" label as long as the contrast is improved. The red is ubiquitous, but I do see the semantic value of the blue "info" class. I say, "Dealer's choice."

[2016-05-24 17:21] justcolin commented on #2076
@newmanld: Sadly a number of common UI patterns are problematic for accessibility.

[2016-05-24 17:31] #1894 closed

[2016-05-24 17:46] cam156 commented on #2081
@mbklein It also looks like the links are broken.
The facet creates this link, which finds the work:
`http://localhost:3000/catalog?f%5Bcreator_sim%5D%5B%5D=create`
The link in the show page creates this link, which does not find the work:
`http://localhost:3000/catalog?q=create&search_field=creator`

[2016-05-24 18:08] mjgiarlo opened #2082 "Support nested works"
### Descriptive summary

This is an epic ticket wrapping up all tickets related to created arbitrarily nested works in Sufia. Please link other tickets related to this feature below.
- [ ] https://github.com/projecthydra/sufia/issues/1709
- [ ] https://github.com/projecthydra/sufia/issues/1563
- [ ] https://github.com/projecthydra/sufia/issues/1710
- [x] https://github.com/projecthydra/sufia/issue

[2016-05-24 18:14] mjgiarlo commented on #2082
@eliotjordan is interested in this work and how it might connect to existing work in GeoConcerns.

@tpendragon has done some related work in Plum that IIRC will be extracted to CurationConcerns. (We should link that in here once it's ready.)

@vantuyls ping.

[2016-05-24 18:31] jcoyne opened #2083 "Make uploaded_files private"
Presently uploaded files are going into the `public/` directory.  This is okay for avatars, but not okay for deposits.  We need to change the default path, preferably to something in the sufia configuration.

For more information:
https://github.com/carrierwaveuploader/carrierwave/wiki/How-To%3A-Secure-Upload

[2016-05-24 19:05] justcolin commented on #2077
Since @mjgiarlo asked for a comment here: I like HTML moving out of these config files, but future work will want to introduce links (no other HTML) into help text. Creating separate template files just for 80 characters of help text will be confusing for people to maintain.

[2016-05-24 19:06] justcolin commented on #2077
In all other situations I think the HTML should be removed, but the help text will need a link at some point soon (specifically the Rights field).

[2016-05-24 19:07] justcolin commented on #2077
See #2003 and #2007 for a little discussion about this.

[2016-05-24 19:34] justcolin opened #2085 "Fix help text that CC breaks"
### Descriptive summary

projecthydra/curation_concerns#811 causes Sufia to break since it removes some input types that are no longer needed. A couple views have to be altered and some templates have to be moved into the locale configs to fix things and to finish #2003.

[2016-05-24 19:47] justcolin commented on #2085
Note: Sufia will not have this bug until projecthydra/curation_concerns#811 is pulled into CC and Sufia starts using that version of CC. This ticket is to note that that future bug has a fix in the works.

[2016-05-24 20:32] mjgiarlo commented on #2085
The CC PR is merged. :clap:

[2016-05-24 20:37] mjgiarlo commented on #2076
:+1: to @jonearley's approach.

[2016-05-24 20:37] justcolin commented on #2085
@mjgiarlo: awesome! Now to fix the large array of bugs that PR causes...

[2016-05-24 20:38] justcolin commented on #2003
This issue can be closed as soon as #2085 is fixed.

[2016-05-24 22:37] vantuyls commented on #2082
pinging @zhang4952

[2016-05-25 00:57] atz commented on #2077
OK, I went back to the ticket I hit before, and it was to shift `"` to `&quot` in an HTML field, so that was legit (and required) by the rails convention.  I am less paranoid about something in the stack messing with the default rails i18n behavior now.

[2016-05-25 15:08] mtribone commented on #2081
@cam156 Good catch! I totally missed it when I worked on my PR for multiple titles and descriptions.

https://github.com/projecthydra/sufia/pull/2015

[2016-05-25 15:41] jonearley opened #2091 "Improve Bootstrap theme color contrast"
### Descriptive summary

Many of the Bootstrap theme colors we use fail to meet WCAG AA color contrast standards.

### Solution

Let's improve Bootstrap theme color palette contrast ratios. The Bootstrap community has proposed a few options already that we could adopt. Implementation should be as easy as updating a few variables.

### Related Work

This issue was a result of discussions here: http

[2016-05-25 16:01] cbeer commented on #2091
Why does this need to go into Sufia (instead of waiting for upstream changes, or deferring to the local applications)?

[2016-05-25 16:37] #2078 closed

[2016-05-25 16:40] jonearley commented on #2091
@cbeer Good point. Would moving this issue to curation concerns make more sense?

[2016-05-25 17:26] #2077 closed

[2016-05-25 21:03] mbklein commented on #2081
Thanks @cam156. I'll look into that as well.

[2016-05-25 23:34] #2080 closed

[2016-05-26 16:48] jenlindner commented on #2064
this just needed a config for progress added to batch_upload in the yml. i pushed up a branch with it in there.

Might be a good idea to  raise an exception on missing translations in dev and test to avoid this in the future. Thoughts?

[2016-05-26 19:37] atz commented on #2073
ref: #2051

[2016-05-26 19:48] #2083 closed

[2016-05-26 21:12] jcoyne opened #2098 "File set show page shows title as an array"
Sample URL: http://baz.demo.hydrainabox.org/concern/file_sets/st74cq441

<img width="787" alt="screen shot 2016-05-26 at 2 08 47 pm" src="https://cloud.githubusercontent.com/assets/92044/15590317/eab177fe-234b-11e6-8c61-7b8059792c2a.png">

[2016-05-26 21:26] atz commented on #2073
In Sufia, we have:
- `Sufia::Forms::WorkForm < CurationConcerns::Forms::WorkForm`
- `Sufia::Forms::BatchEditForm < CurationConcerns::Forms::WorkForm`
- `Sufia::BatchUploadForm < Sufia::Forms::WorkForm`

Should `BatchUploadForm` be in the `Forms` module?  More importantly, if batch *upload* is able to inherit from `Sufia::Forms::WorkForm`, what is the reason batch *edit* doesn't as well?  Just tryi

[2016-05-26 21:28] jcoyne commented on #2073
👍 to consistency.

[2016-05-26 21:33] mjgiarlo commented on #2073
:+1: to `BatchUploadForm` being in the `forms` module.

[2016-05-26 21:37] mjgiarlo commented on #2073
As to the inheritance hierarchy, I'm not sure why the `BatchEditForm` inherits from CC's work form rather than Sufia's form. I'd be happy to see those made consistent as well.

[2016-05-26 23:36] atz commented on #2073
@jcoyne how do I test to reproduce #2051?

[2016-05-26 23:41] jcoyne commented on #2073
@atz you need to have one of your file uploads fail and one succeed. I'm not sure how you can create that condition. Perhaps turn off fedora as you are uploading the first file?

[2016-05-27 01:09] jenlindner commented on #2063
Looks good with curation_concerns-1.0.0.beta4.

[2016-05-27 01:16] jenlindner commented on #2063
The PRs addressing layout and help text have been merged here and in CC so going to close this. The missing header key is also being addressed.

[2016-05-27 01:16] #2063 closed

[2016-05-27 16:12] #2098 closed

[2016-05-27 16:49] #2091 closed

[2016-05-27 18:13] mbklein commented on #2085
fixing_future_bugs++

[2016-05-27 18:20] justcolin commented on #2085
I am testing the UI to make sure that #2103 fixed this.

[2016-05-27 21:07] #2064 closed

[2016-05-27 21:17] atz commented on #2073
@jcoyne Can you describe the necessary timing and location of the failure?  My interpretation is that this is during non-batch work creation, drag-drop a couple files, while they auto-upload, first succeeds, second fails.  Is the failure specifically between the jQuery file-uploader and the webserver? To the browser, does that look like a 500 error or a dropped connection (killed socket)?

[2016-05-27 21:25] atz commented on #2073
Is it appropriate to test this at the controller level?

[2016-05-27 21:45] jcoyne commented on #2073
Yes, this could be a controller test

[2016-05-28 01:59] atz commented on #2073
On one level, the problem is about filtering the empty uploaded file "line" from the post to create the work.  But on another, it might also be about the jQuery file-uploader reacting appropriately to failure on the server side to avoid adding the empty line (or removing it if already added).  The approaches are not exclusive.

[2016-05-28 03:23] jcoyne commented on #2073
I think the jquery behaved just fine. It told me there was an error when there was one.  It was the server which didn't handle that input gracefully.  It is fixed now, but I'm just wondering if the patch in #270 was really fixing the problem in the right place.

[2016-05-31 11:39] cam156 opened #2104 "flash message is not appropriate after work save"
### Descriptive summary

In Sufia 7.0 after you save a work you go to the work show page.  You then see a message about refreshing your dashboard.

### Expected behavior

Message should say "You may need to refresh this page to see the changes you made" rather than mentioning the dashboard.

### Actual behavior

![screen shot 2016-05-31 at 7 36 44 am](https://cloud.githubusercontent.com/assets/159

[2016-05-31 14:59] mtribone commented on #2081
Also get the `[...]` around the title of collections in relationships.

![screen shot 2016-05-31 at 10 58 22 am](https://cloud.githubusercontent.com/assets/4163828/15679123/ba76937c-271e-11e6-9c3e-035ad2038cd8.png)

[2016-05-31 17:18] grosscol commented on #1584
Likely closed by #1570

[2016-05-31 17:18] #1584 closed

[2016-05-31 17:39] grosscol opened #2105 "Analytics button link does not respect relative_url_root"
### Descriptive summary

Sufia 7.0.0.rc
When deploying a Sufia based application at url that isn't '/' and analytics is enabled, the analytics buttons rendered on the work and file set pages have the incorrect url.  The relative_url_root is not included.
### Expected behavior

Analytics button url to be of the form `/<relative_url_root>/works/<id>/stats`
### Actual behavior

Analytics button url i

[2016-05-31 17:50] grosscol commented on #2105
Links are generated in these two partials:
sufia/app/views/curation_concerns/base/_show_actions.html.erb
sufia/app/views/curation_concerns/file_sets/_show_actions.html.erb

Not sure if `stats_polymorphic_path[main_app, curation_concern]` would be apropos in the base _show_actions, but that's where my first stab would be.

[2016-05-31 18:24] mtribone opened #2106 "Collection Creation – Required Fields"
When creating a new collection in Sufia 7.0, the text for "* indicates required fields" is still included and the required fields are not marked.

### Expected behavior

Expecting the creation of a collection to align with the creation of works by showing the required metadata with the new required badges.

![screen shot 2016-05-31 at 2 21 13 pm](https://cloud.githubusercontent.com/assets/4163828/

[2016-05-31 18:27] mtribone opened #2107 "Add Files – Vertical Alignment of Buttons"
### Descriptive summary

When adding files to a work in Sufia 7.0, the buttons for "Add files" and "Add folder" touch the top most part of their container right under the tab.

### Expected behavior
Expect some better vertical alignment of buttons

### Actual behavior
![screen shot 2016-05-31 at 2 15 18 pm](https://cloud.githubusercontent.com/assets/4163828/15685861/b67c88fe-273b-11e6-8639-73169cd

[2016-05-31 19:26] atz commented on #2073
IMHO, this test is formulated correctly:
https://github.com/projecthydra/sufia/pull/2070/files#diff-a30fe0504497f98d445b3145317610cfR24

I tried writing a separate test but it largely resembled that one.  I will strengthen the `allow` into an `expect`, but probably not do much more on this.

[2016-05-31 20:17] atz commented on #2104
Would we accept "you may need to refresh"?

[2016-05-31 20:21] mjgiarlo commented on #2104
I'm partial to `'You may need to refresh your browser.'`

Tagging @projecthydra/sufia-ui-ux-advisors for their input.

[2016-05-31 20:28] atz commented on #2104
The flash messages are good candidates for extraction into a template or translations file, also.  Currently duplicated in `batch_uploads_controller_behavior.rb` and `works_controller_behavior.rb`.

[2016-05-31 20:40] newmanld commented on #2104
To avoid someone thinking this means upgrade the browser (although this would of course be over-literal), how about
‘You may need to refresh this page in your browser.’

Or does ‘reload’ come across better than ‘refresh’?

If I mouse over the button in Chrome (Windows & Mac), it says ‘Reload this page’.  In Firefox (Windows & Mac), ‘Reload current page’.  In IE (Windows)‘Refresh’.  In Safari (Mac)

[2016-05-31 20:41] atz commented on #2106
At this point, we don't seem to have a need for the `* required` legend, since we directly include the word `required` with the badge.  Am I to understand you want the asterisk **and** color/text badge? inside or out?

Then the legend would have to explain "asterisk [required badge] = required" or something distractingly redundant.  I propose we get rid of it while fixing the flagging of required

[2016-05-31 21:24] mjgiarlo opened #2111 "Verify contextual nested works don't break the UI"
Now that CurationConcerns has nested works, we should see how this affects the Sufia UI and make sure it doesn't cause any breakages or unexpected behavior.

[2016-05-31 22:54] #2073 closed

[2016-06-01 11:58] mtribone commented on #2106
@atz Nope. I want the asterisk to be removed just like what you outlined in the previous ticket. The collection creation page should align with the work creation page.

[2016-06-01 12:13] mtribone opened #2112 "Creation of Works – Required and Supporting Text"
### Descriptive summary

In Sufia 7.0, the supportive text at the top of the metadata is right up against the top of the container and tab and the "* required" text is still present. Remove the "* required" and adjust spacing.

### Expected behavior

Expected the supportive text to have more Bootstrap styling and padding and the "* required" text to be removed since the badges are present.

### Ac

[2016-06-01 12:17] mtribone commented on #2106
I've updated the screen shot to remove the "* required" and only have the required badge on the title.

[2016-06-01 13:01] heidisb commented on #2104
I'm partial to refresh. It feels like the more common vernacular, but I don't have any proof (other than Googling 'reload browser' and getting a lot of results with 'refresh' in it).

I do agree with @newmanld about specifying page instead of (or in addition to) browser. In my past reference librarian life...it was shocking how many people did not know what a browser is even though they were using

[2016-06-01 14:40] #2107 closed

[2016-06-01 15:48] bnhowell commented on #2104
+1 for: "You may need to refresh this page..."

On Wed, Jun 1, 2016 at 9:01 AM, Heidi Burkhardt <notifications@github.com>
wrote:

--
Ben Howell | Accessibility & User Experience Specialist
Design & Discovery | LIT | University of Michigan Library
bnhowell@gmail.com

[2016-06-01 15:58] mjgiarlo commented on #2104
Sounds like consensus to me. Thanks, all! :clap:

[2016-06-01 16:03] mjgiarlo commented on #2085
How goes, @justcolin?

[2016-06-01 16:04] mjgiarlo commented on #2081
@mbklein are you still on this ticket, or should we reassign? If the latter, do you have any in-progress branches to push?

[2016-06-01 16:09] justcolin commented on #2085
@jcoyne fixed most or all of these issues when he updated Sufia to use CC 1.0.0.beta5 a few days ago, so I scrapped my work in it.

I'm in the midst of a move but was planning on running the UI through a number of checks before closing this ticket.

[2016-06-01 16:26] mjgiarlo commented on #2085
:ok_hand:!

I'd like very much to get #2085 and #2003 closed this week if possible. Thanks, Colin.

[2016-06-01 16:27] mjgiarlo commented on #2111
Mark as "ready" once the CC PR above is merged.

[2016-06-01 18:29] #2112 closed

[2016-06-01 19:15] atz commented on #1532
Why isn't this stored in DB?  The requirement of local storage prevents horizontal scaling like we would want in HyBox.  The setting of any hardcoded (production) path prevents multi-tenancy.  Also, we already have a DB in all environments and this seems like a simple thing to use a DB for, so this is confusing to me.

[2016-06-01 19:27] jcoyne opened #2118 "Local vocabularies are no longer registered"
Used to be here:
https://github.com/projecthydra/sufia/blob/6.x-stable/sufia-models/app/models/concerns/sufia/generic_file/metadata.rb#L88-L94

[2016-06-01 19:30] jcoyne commented on #1532
That seems like a good place. I think the problem is that by default the noid gem doesn't assume a database. https://github.com/microservices/noid

[2016-06-01 19:57] jcoyne opened #2119 "entries_by_term for subjects produces an invalid db query"
[code]

[2016-06-01 20:30] cbeer commented on #1532
It doesn't assume a filesystem either; `ActiveFedora::Noid` is providing that.

[2016-06-01 20:49] #2119 closed

[2016-06-01 20:55] mjgiarlo commented on #1532
I'm not sure the above provides quite the right seam for what we want, though. Perhaps CC or Sufia should provide a configuration option that allows for easier swapping of custom minters.

[2016-06-01 21:04] atz commented on #1532
Is there a reason Sufia would *not* want to default to DB?

[2016-06-01 21:39] grosscol commented on #1532
Starting to use a DB would be good move for scaling.  Simple approach, the minter just creates a unique index for each minter request?

Eventually scaling might be a block allocation solution? Allocate large blocks of ids prospectively, and mark + return the next 'unused' so long as you've got a db that guarantees consistency.  That way there can be an allocator node that makes blocks of ids and h

[2016-06-01 21:50] #2118 closed

[2016-06-01 23:59] atz commented on #1532
Interesting idea about "pages" of IDs.  I don't think the current implementation does anything like that, since it just retains a single "last" value and generates a "next" value deterministically off of that.

During a migration, we would hope to be creating tens of thousands of records per hour.

[2016-06-02 00:10] mjgiarlo commented on #1532
Minting batches of IDs is a great idea, and a feature that other minters (including noid minters implemented in Go and Perl, IIRC) already use.

[2016-06-02 08:20] ojlyytinen commented on #1532
What we ended up doing with this was having each of our servers use a separate minter-state file with a unique noid prefix. This effectively gave each server its own id namespace so they could all mint ids independently without clashing with each other.

But putting the minter-state in DB instead does sound like a good idea, at least as the default option.

[2016-06-02 12:06] jeremyf commented on #1532
At Notre Dame we have a small NOID server (written in Go) and a Ruby client
for that application. This allows us to mint noids from multiple places. It
also provides a configuration point in which in development and test I
replace the NOID minter with a lambda that calls a UUID genration method.

So our NOID state is tracked in a DB, we have different pools if we need
(UND:, SEASIDE:, etc). We als

[2016-06-02 12:21] mtribone commented on #1970
@mjgiarlo Looks like we are back in business...

<img width="1253" alt="screen shot 2016-06-02 at 8 20 09 am" src="https://cloud.githubusercontent.com/assets/4163828/15744614/ea904116-289a-11e6-90c2-aca6527818d1.png">

[2016-06-02 13:07] cam156 opened #2125 "add files on collection show page should be add works"
We may have too many buttons, there is a select works link and an add files button
Add Work link should also be worded as Add New Work

[2016-06-02 14:52] mjgiarlo commented on #1970
:clap: think we can close this issue?

[2016-06-02 14:53] mjgiarlo commented on #2125
Good find!

[2016-06-02 15:10] mtribone commented on #1970
Can we get another person to verify?

[2016-06-02 16:04] mbklein commented on #2081
I do not have any lingering work on this, and I'm not sure when I'd be able to get to the issue @mtribone pointed out. Probably best to reassign.

[2016-06-02 16:23] mjgiarlo commented on #1970
Verified. We can close this. Thanks!

[2016-06-02 16:23] #1970 closed

[2016-06-02 16:34] mjgiarlo commented on #2081
Thanks, @mbklein!

[2016-06-02 16:34] mjgiarlo commented on #2081
Do you have cycles for this one, @mtribone?

[2016-06-02 18:44] mtribone commented on #2081
@mjgiarlo We are sprinting on the migration plan this week, but I can pick it up next week if it isn't needed this week.

[2016-06-02 20:27] mtribone commented on #2076
@mjgiarlo Can we close this or wait until it makes it into the Collections creation UI?

[2016-06-02 20:33] mjgiarlo commented on #2076
@mtribone because #2106 is already ticketed, I'm inclined to close this. Let's make sure that's OK with the Michigan crew: @justcolin @bnhowell @jonearley ?

[2016-06-02 20:46] justcolin commented on #2106
When we did this at U-M I seem to remember it could almost—if not entirely—be done in the `simple_form` config files. Do we know what in Sufia is causing it to override CC's new behavior (the required badges)?

[2016-06-02 20:48] mjgiarlo commented on #2106
@justcolin Here are old-style form overrides:

https://github.com/projecthydra/sufia/blob/5ddf40c98c09af90aa8db66d6e9bba714aa335fe/app/views/collections/_form.html.erb#L3

https://github.com/projecthydra/sufia/blob/48c57aa07c44b75d1d6d3306242aaac65dcac3ee/app/views/curation_concerns/file_sets/_descriptions.html.erb#L4

[2016-06-02 20:51] justcolin commented on #2106
@mjgiarlo: That makes me feel sad. Unless you or someone else is already working on it I'll throw up a PR to remove those.

[2016-06-02 20:56] bnhowell commented on #2076
Unless I'm missing something in either of these tickets, it looks ok to
close #2076.

On Thu, Jun 2, 2016 at 4:33 PM, Michael J. Giarlo <notifications@github.com>
wrote:

--
Ben Howell | Accessibility & User Experience Specialist
Design & Discovery | LIT | University of Michigan Library
bnhowell@gmail.com

[2016-06-02 21:00] mjgiarlo commented on #2106
@justcolin no one is! have at it, pls, sir. (and if we can close those other two issues this week that you created a while back, that'd be super swell too! :tada:)

[2016-06-02 21:03] mjgiarlo commented on #2076
OK. Closing. Thanks, y'all. (Feel free to re-open if I was hasty, other Michiganders!)

[2016-06-02 21:03] #2076 closed

[2016-06-03 13:35] cam156 opened #2127 "Verify The migration of Data from Sufia 6 to Sufia 7 mode PCDM"
I would would like to verify that every object I have in Sufia 6 version of my repository has been moved to my Sufia 7 version of my repository.

To do this I must survey the contents of my Sufia 6 repository before the migration and verify the contents against the survey after the migration.

Done will look like when my database table has all of my resources and each item has a verification statu

[2016-06-03 13:44] cam156 opened #2128 "Sufia 6.x_stable Survey"
I would like to be able to survey my Sufia 6.x repository prior to migration, so that I can verify that every object has been moved.  Part of user story #2127

I would like to create a executable I can run that creates a database table with survey information.

This will be done when I can run sufia_survey.exe in my sufia 6.x  application and I produce a database table that contains a list of my o

[2016-06-03 13:50] cam156 opened #2129 "Sufia PCDM Migration verification"
I would like to be able to verify that all of my Sufia 6.x object were migrated to my Sufia PCDM repository after migration, so that I can verify that every object has been moved. Part of user story #2127

I would like to create a executable I can run that uses  a database table created by sufia_survey to verify the existence and type of every object in the survey (see #2128).

This will be done w

[2016-06-03 14:01] cam156 opened #2131 "Migration::Survey::Item Class"
Create an ActiveRecord class to save and update a Migration::Survey::Item in the database.  This class is needed in Sufia 6.x and Sufia PCDM applications. See #2128 and #2129 for use of this class.

This class should have the following attributes:
 * object_id
 * type
 * title (for debug purposes)
 * status

This will be done when I can:
* Migration::Survey::Item.new # creates instance of object
*

[2016-06-03 14:17] cam156 opened #2132 "Migration::Survey::FedoraIdService"
Create a class To walk the Fedora 4 Sufia 6.x repository to gather all of the ids of Sufia's default objects (Collection and GenericFile). See #2128 for full use case.

This class should have the following methods:
* register_model - register an additional object type beyond Collection and GenericFile
  * parameters: - Object.class
* call - produce a list of ids for the registered models
  * param

[2016-06-03 14:25] cam156 opened #2133 "Migration::Survey::Surveyor Class"
Create a class that surveys a fedora 4 instance of a Sufia 6 application based on an id list to generate a Migration::Survey::Item #2131 for each id in the list. See #2128 for full use case.

This class should have the following methods:
* call - loops through the ids generating items for each id
  * parameter: id_list   # an array of ids to process

This is done when I can:
* Migration::Survey::S

[2016-06-03 14:41] cam156 opened #2134 "Migration::Validate::Service"
Create a class that validates a Fedora 4/Sufia 6 survey in a Sufia PCDM application by looping through each Migration::Survey::Item #2131  created by the surveyor #2133 and updating its status. See #2129 for full use case.

This class should have the following methods:
- register_model_mapping  # Default mapping { Collection: Collection.class, GenericFile: GenericWork.class}
  - parameters:
    -

[2016-06-03 14:58] cam156 opened #2135 "Sufia 6.x to Sufia PCDM Migration"
I would like to be able to migrate all of my Sufia 6.x objects to my Sufia PCDM repository.

To do this I must export the metadata of my Sufia 6 repository and import the metadata and content into the representative PCDM objects in my Sufia PCDM application.

Done will look like when my Sufia PCDM application contains all of my Sufia 6.x Collections as Sufia PCDM Collections and my Sufia 6.x Gener

[2016-06-03 15:09] cam156 opened #2136 "Export Metadata from Sufia 6.x to prepare for migration"
I would like to be able to export metadata my Sufia 6.x repository prior to migration, so that I can move every object to my Sufia PCDM application. Part of user story #2135

I would like to create a executable I can run that creates a json file for each object that I am migrating from Sufia 6.x to Sufia PCDM.

This will be done when I can run sufia_export.exe in my sufia 6.x application and I pro

[2016-06-03 15:26] cam156 opened #2137 "Import Metadata and content from Sufia 6.x to Sufia PCDM"
I would like to create an executable that reads json files created by the exporter #2136 to migrate the Sufia 6.x object to the correct Sufia PCDM representation of the object.

This will be done when I can run sufia_import.exe in my Sufia PCDM application, with a directory of json files.  The directory is expected to contain json files representing each of my Sufia 6.x objects. Each object will b

[2016-06-03 17:09] jcoyne opened #2139 "Generator should remove config/initializer/curation_concerns.rb"
But we must call
[code]
in some way.  Perhaps Sufia config can delegate that method to CurationConcerns?

[2016-06-03 18:07] justcolin commented on #2085
Fixed by #2103

[2016-06-03 18:07] #2085 closed

[2016-06-03 18:07] justcolin commented on #2003
Fixed by #2103

[2016-06-03 18:08] #2003 closed

[2016-06-03 21:40] mjgiarlo commented on #2139
Wait, why should the generator remove CC's initializer?

[2016-06-04 01:17] jcoyne commented on #2139
There's comments in there that indicates that it is the location to set the config variables.  But you should do that in `config/initializers/sufia.rb`. We don't want it to be confusing about where the configuration should go.

[2016-06-06 14:52] cam156 opened #2141 "Migration::Import::GenericFileTranslator"
I would like to create an class that imports (and translates) a Sufia 6.0 exported Metadata file into a Sufia PCDM GernericWork and FileSet. See #2137 for executable.

This class should have the following methods:
* import - loops through the files found in the file_pattern and maps the GenericFile to a GenericWork and FileSet
  * parameter: file_pattern # an array of ids to process

This is done

[2016-06-06 14:55] cam156 opened #2142 "Migration::Import::CollectionTranslator"
I would like to create an class that imports (and translates) a Sufia 6.0 exported Metadata file into a Sufia PCDM Collection. See #2137 for executable.

This class should have the following methods:
- import - loops through the files found in the file_pattern and maps the Collection to a Collection
  - parameter: file_pattern # an array of ids to process

This is done when I can:

Migration::Impo

[2016-06-06 15:07] mtribone commented on #2081
I'm guessing that there are some overrides in Sufia that are preventing https://github.com/projecthydra/curation_concerns/pull/819 from working properly?

[2016-06-06 16:14] cam156 opened #2143 "Migration::Import::WorkBuilder"
I would like to create an class that creates a Sufia PCDM Work based on Sufia 6.0 exported Metadata hash. See #2141 for calling service.

This class should have the following methods:
* Build - builds a GenericWork based on the metadata passed in
  * parameter: options # metadata about the Work to be created

This is done when I can:

Migration::Import::WorkBuilder.build produces a GenericWork wit

[2016-06-06 16:16] cam156 opened #2144 "Migration::Import::FileSetBuilder"
I would like to create an class that creates a Sufia PCDM Work based on Sufia 6.0 exported Metadata hash. See #2141 for calling service.

This class should have the following methods:
* Build - builds a FileSet based on the metadata passed in and attaches the content and versions history
  * parameter: options # metadata about the FileSet to be created

This is done when I can:

Migration::Import:

[2016-06-06 16:50] cam156 opened #2145 "Migration::Import::CollectionBuilder"
I would like to create an class that creates a Sufia PCDM Collection based on Sufia 6.0 exported Metadata hash. See #2141 for calling service.

This class should have the following methods:
* build - builds a Collection based on the metadata passed in
  * parameter: options # metadata about the Collection to be created

This is done when I can:
Migration::Import::Collection.build produces a Collec

[2016-06-06 16:55] mjgiarlo commented on #2141
@cam156 I haven't read these tickets in depth, but are you thinking that the import process will record the GF's ID and make sure the new GW also uses the same ID?

[2016-06-06 17:00] cam156 commented on #2141
@mjgiarlo Short answer is yes. @hectorcorrea created some code to do the import export. I the export code exists in import_s6 branch.  It is old and a bit stale, but can be reused as a reference at the very least.

[2016-06-06 17:15] mjgiarlo commented on #2141
:ok_hand: I thought it might also be good to document that as a requirement in the related tickets, but if y'all already have this one accounted for, np. Thanks!

[2016-06-06 17:43] cam156 commented on #2137
@mjgiarlo Adding a comment here to address your question about IDs.  The PCDM version of the GenericFile (the GenericWork) should have the same ID as the Sufia 6.x version of the GenericFile.  The Sufia PCDM version of the Collection (the Collection) should have the same ID as the Sufia 6.x version of the Collection.

[2016-06-06 17:49] mjgiarlo commented on #2139
CC's configs are in the CC initializer and Sufia's are in the Sufia initializer, no? Maybe we need to do more work to clean up or disentangle the dependencies, if not. (:thought_balloon: I wonder if this mightn't be a good discussion point for the Architecture WG...)

[2016-06-06 17:53] cam156 opened #2147 "Migration::Export::Actor"
I would like to create an class that exports Sufia 6.0 exported Metadata in json format into a file. See #2136 for executable.

This class should have the following methods:
* call - loops through all the instances of a model and exports the metadata
  * parameters:
     * model_types # a list of models to export
     * opts  # either a limit number or a list of ids to export
* register_convertor

[2016-06-06 18:30] mjgiarlo commented on #2137
Thank you!

[2016-06-06 20:29] mjgiarlo opened #2148 "Work show page -- display collection title as string, not array"

[2016-06-06 20:58] #2148 closed

[2016-06-07 13:02] cam156 opened #2151 "Migration::Export::GenericFileConvertor"
I would like to create an class that exports Sufia 6.0 exported Metadata of a GenericFile in json format. See #2147 for calling Actor.

This class should have the following methods:
* to_json - outputs the GenericFile as JSON including entries for Permissions and Versions

This is done when I can:

* Migration::Export::GenericFileConvertor.new(gf) creates an instance of the class for the GenericFi

[2016-06-07 13:06] cam156 opened #2153 "Migration::Export::VersionConvertor"
I would like to create an class that exports Sufia 6.0 exported Metadata of a single version of a  GenericFile content in json format. See #2151 for calling convertor.

This class should have the following methods:
* to_json - outputs the GenericFile version as JSON

This is done when I can:

* Migration::Export::VersionConvertor.new(version) creates an instance of the class for the GenericFile ve

[2016-06-07 13:21] cam156 opened #2154 "Migration::Export::PermissionsConvertor"
I would like to create an class that exports Sufia 6.0 exported Metadata of the permissions graph of a  GenericFile content in json format. See #2151 for calling convertor.

This class should have the following methods:
* to_json - outputs the GenericFile permissions graph as JSON

This is done when I can:

* Migration::Export::PermissionsConvertor.new(permissions_graph) creates an instance of the

[2016-06-07 13:24] cam156 opened #2155 "Migration::Export::CollectionConvertor"
I would like to create an class that exports Sufia 6.0 exported Metadata of a Collection in json format. See #2147 for calling Actor.

This class should have the following methods:
* to_json - outputs the Collection as JSON including pointers to each member

This is done when I can:

* Migration::Export::CollectionConvertor.new(col) creates an instance of the class for the Collection
* instance.to

[2016-06-07 13:27] jcoyne opened #2156 "Analytics errors if analytics.yml is not configured"
[code]

[2016-06-07 14:45] jcoyne opened #2158 "Rendering the 404.html in the error template creates bad markup"
[code]

[2016-06-07 15:00] jcoyne opened #2160 "Transfers controller errors if user is not signed in."
because it calls `current_user.id`

[2016-06-07 15:12] jcoyne opened #2162 "Clicking on "Files Shared with Me" raises an error"
It seems that the search builder is returning results for `ActiveFedora::Aggregation::ListSource` objects:
[code]

[2016-06-07 15:13] mjgiarlo commented on #2106
@fultonis thanks for nuking the old-style text for required fields. Can you verify if the collection form is using the new-style badges for required fields? Wondering how close this issue is to closing.

[2016-06-07 15:19] cam156 commented on #2141
@mjgiarlo linked the code in the original descripotion. Not that we have to stick with what the code does, we can push the linking down if we believe that would be a better location...

[2016-06-07 15:27] #2158 closed

[2016-06-07 15:51] justcolin commented on #2106
@mjgiarlo It is using the new style. There is a bug in CC which fixes the missing required label. About to put in an PR to CC to fix this.

[2016-06-07 15:57] #2160 closed

[2016-06-07 16:03] mjgiarlo commented on #2162
:clap:

[2016-06-07 16:05] mjgiarlo commented on #2141
I'm a big :+1: on providing continuity by using GF IDs for the new GWs.

[2016-06-07 16:08] mjgiarlo commented on #2106
OK, @justcolin. Once that is merged, I'd like to get beta8 cut so we can verify that this is fixed and close this ticket. Thank you, sir.

[2016-06-07 16:09] justcolin commented on #2106
Thank you! I am also hoping to automate this so we don't have a similar problem in the future.

[2016-06-07 16:40] #2156 closed

[2016-06-07 16:49] mtribone commented on #2081
I'm guessing that the search results will need linked metadata, too?!

![screen shot 2016-06-07 at 12 47 12 pm](https://cloud.githubusercontent.com/assets/4163828/15866796/36ca25f8-2cae-11e6-9de7-41799e744e2b.png)

[2016-06-07 16:53] mjgiarlo commented on #2081
Yep, @mtribone, good call. If that feels scope creep-y to you, feel free to break that out into a different PR. If not, cool to include linked metadata in all the show/index contexts (work, catalog, collection, fileset, ... ?) in this PR. Up to you.

[2016-06-07 16:55] jcoyne opened #2163 "On work show page link to file is broken"
In the list of files, the link in the filename column goes to:
https://baz.demo.hydrainabox.org/concern/parent/8336h188j/file_sets/cv43nw80h
This isn't routable in sufia. (But it ought to be made so).

[2016-06-07 16:56] jcoyne commented on #2163
Related to #2111

[2016-06-07 19:31] mtribone opened #2165 "Search Results – Metadata is not Linked"
### Descriptive summary

In Sufia 7.0.0 when I select a keyword from a work or when I search for a term using the search box, the results displayed do not have all of the linked metadata.

### Expected behavior
I expected that all of the metadata for a work or collection in the results to link to other resources in the repo with the same metadata. Relies on https://github.com/projecthydra/sufia/pu

[2016-06-07 19:42] jcoyne commented on #2163
It looks like this is a problem unique to hybox.

[2016-06-07 19:42] #2163 closed

[2016-06-07 19:44] jcoyne opened #2167 "file set show page uses the curation concerns footer"
The footer is not black. It says "Powered by CurationConcerns."  It should instead use the sufia footer.

[2016-06-07 20:02] justcolin commented on #2007
@projecthydra/sufia-ui-ux-advisors: Thoughts on this?

[2016-06-07 20:05] justcolin commented on #2007
Because everyone seems to be using a different set of rights in the UI (some use a lot, some a few, some focus on CC, some provide a variety) I think the we shouldn't do too much in the default Sufia UI, maybe just write a sentence or two explaining that this field lets you select how you are licensing the content. Then if individual groups want to add more or link out to a additional resources th

[2016-06-07 20:05] mjgiarlo commented on #2007
I'd like this in the 7.0.0 release, though I don't consider this a blocker.

[2016-06-07 20:19] heidisb commented on #2007
+1 to everything Colin said.

Other field elements have pretty universal expectations, but it's plausible that each institution will have a different approach to rights selection. Keeping it simple in the default Sufia UI makes for easier maintenance and allows everyone to make the local additions they need. Basically -- I think consensus on this is impossible and we're in a position to put forwar

[2016-06-07 20:51] awead opened #2170 "Derivative creation fails"
### Descriptive summary

Using a newly generated internal test app, creating a new work results in a image magick failure:

[code]

[2016-06-07 20:53] jcoyne commented on #2170
The filename and the uri are supposed to be different. `filename` is the staged upload file, and the `derivative_url` is where the generated thumbnail is.

[2016-06-07 20:53] awead commented on #2170
@jcoyne this is the error I'm seeing:
[code]

[2016-06-07 20:55] jcoyne commented on #2170
I'm unable to duplicate that.  Is it one particular image giving you trouble?

[2016-06-07 20:56] #2167 closed

[2016-06-07 20:56] awead commented on #2170
@jcoyne hmm. I updated image magick today, so it's possible it's related to that. This is with a brand new Sufia app built off of master as of today.

[2016-06-07 20:57] mjgiarlo commented on #2170
@awead Ah, that's your problem! Sufia has bugs today.

It won't tomorrow.

:laughing:

[2016-06-07 20:57] jcoyne commented on #2170
Okay, let me try upgrading, but first, here's a working version:
[code]

[2016-06-07 21:01] awead commented on #2170
Minor different on my side:
[code]

[2016-06-07 21:02] jcoyne commented on #2170
Updated to `6.9.4-7` and now I see the error you have.

[2016-06-07 21:03] awead commented on #2170
It seems to be adding `[0]` at the end of the file name. Because in my example, `/var/folders/yb/pbl7568x7073w02tyghtk3140000gp/T/mini_magick20160607-32012-gzuqee.jpg` is present but the error shows a file ending with `[0]`

[2016-06-07 21:05] awead commented on #2170
From my stack trace, the `[0]` is showing up for the first time in mini_magick (4.5.1) lib/mini_magick/image.rb line 349.

[2016-06-07 21:11] jcoyne commented on #2170
I suspect it's this: https://github.com/ImageMagick/ImageMagick/issues/214

[2016-06-07 21:35] jcoyne commented on #2170
Fixed in homebrew by https://github.com/Homebrew/homebrew-core/pull/1797

[2016-06-07 21:39] bnhowell commented on #2007
+1 for a simple framework/default UI for license selection that allows for
links to an institution's tools for rights selection guidance.

On Tuesday, June 7, 2016, Heidi Burkhardt <notifications@github.com> wrote:

--
Ben Howell | Accessibility & User Experience Specialist
Design & Discovery | LIT | University of Michigan Library
bnhowell@gmail.com

[2016-06-07 21:48] #2106 closed

[2016-06-07 22:05] newmanld commented on #2007
+1 to @justcolin and @heidisb for a pragmatic approach that avoids having to reach consensus.  Implementors can customize as needed.  Each institution may very well have different approaches to rights selection, and different selection lists for rights statements.

FYI, locally we are about to deploy a license wizard that gives people widget-like help (a modal) if they want it - but they can easil

[2016-06-08 04:00] #2170 closed

[2016-06-08 11:58] awead commented on #2139
Also, what if I want to add additional concerns beyond just `GenericWork`?

[2016-06-08 12:01] jcoyne commented on #2139
@awead then you can't use Sufia 😉

[2016-06-08 12:02] awead commented on #2139
@jcoyne I'm doing that now: https://github.com/aic-collections/aicdams-lakeshore/blob/develop/config/initializers/curation_concerns.rb

[2016-06-08 12:03] jcoyne commented on #2139
@awead You're an edge case.

[2016-06-08 12:08] awead commented on #2139
@jcoyne at the moment perhaps, but others may wish to do similar things. I'm concerned that shutting off the options would leave adopters like AIC and @scossu with dead versions of Sufia, and no upgrade path. But with talk of a future CC/Sufia merger, this may be a moot point.

[2016-06-08 12:27] mtribone commented on #2007
+1 to a small set of core or default rights. Am I following along with previous conversations that the items in the list of rights will link to documentation replacing the modal?

[2016-06-08 12:29] jcoyne commented on #2139
I'm absolutely not going to cut off that feature.  I was more thinking along the line that the sufia config should extend the CC config. Thus anything you can put in the CC config could go in the sufia config instead.

[2016-06-08 12:44] awead commented on #2139
OK. Sorry, I misunderstood the direction this was going. The above makes sense then.

[2016-06-08 12:57] justcolin commented on #2007
@mtribone: the current suggestion is no link, just a one to two sentence bit of help text like all the other fields. If people want to add a link to further documentation they can do so themselves. The argument being that because there is such a wide range of uses for the rights field from institution to institution we should probably do the very minimum and encourage everyone to customize the hel

[2016-06-08 13:12] jcoyne opened #2171 "Remove show_only_generic_works and use filter_models from curation_concerns"
Also have a look at `show_only_collections`

[2016-06-08 13:15] mtribone commented on #2007
@justcolin Okay. We'll handle the documentation per @heidisb 's suggestions above and look at some of the examples that you have provided above in ScholarSphere.

[2016-06-08 13:32] jonearley commented on #2007
My vote is for a dropdown with help text that links to rights/license documentation.

[2016-06-08 13:36] mtribone commented on #2007
@justcolin So the following list will be edited to be a smaller, core set of rights and help text will be added above like the other fields. Is anyone actively working on this issue along with the other help text? Are we asking the community to define the core rights or is this something that the assignee can handle? What action needs to be taken to resolve this issue?

![screen shot 2016-06-08 at

[2016-06-08 13:52] elrayle opened #2173 "New Work: Move Related URL to Relationships tab"
### Descriptive summary

Version: Sufia 7.x
UI change

For [New Work](http://localhost:3000/concern/generic_works/new)
- Metadata Tab:  Remove Related URL from Additional Fields
- Relationships Tab:  Add External Related URL according to the [UIWG wireframe](https://wiki.duraspace.org/x/QYZcB)
### Expected behavior

User should be able to set all relationships from the Relationship tab.  This incl

[2016-06-08 13:55] justcolin commented on #2007
@mtribone: Since it seems like we have consensus I will go ahead and put in a pull request to add the help text and tag you all to make sure the wording is good for everyone.

As for what rights go in the list, I am fine with the current list but am open to suggestions. Since that is separate from the original purpose of this ticket I'd recommend someone open up a seperate issue to discuss what sh

[2016-06-08 13:57] elrayle opened #2174 "Works -> Batch Create: Move Related URL from Metadata tab to Relationships tab"
### Descriptive summary

Version: Sufia 7.x
UI change

For Works -> [Batch Create](http://localhost:3000/batch_uploads/new)
- Metadata Tab:  Remove Related URL from Additional Fields
- Relationships Tab:  Add External Related URL according to the [UIWG wireframe](https://wiki.duraspace.org/x/5oZcB)
### Expected behavior

User should be able to set all relationships from the Relationship tab.  This

[2016-06-08 13:59] justcolin commented on #2007
(I am in a meeting for the next 1 million years, but will try to get to it over lunch.)

[2016-06-08 14:09] newmanld commented on #2007
Maybe as relevant as what goes in the default list is a straightforward way for adopters to modify it, given the discussion above re wide range of uses for the rights field likely to vary from institution to institution.  And if an institution changes the choices post implementation - say from CC 3.0 to 4.0, or CC U.S. to International, I assume that the license selected at the time of work submis

[2016-06-08 14:14] elrayle opened #2175 "Use Plural Language for Works -> Batch Create"
### Descriptive summary

Version: Sufia 7.x
UI Change

Relationships tab uses singular language (i.e. This Work) instead of plural (i.e. These New Works)

### Expected behavior

Relationships tab uses plural: These New Works in Collections

See:  [UIWG wireframe](https://wiki.duraspace.org/x/5oZcB)

### Actual behavior

Relationships tab uses singular language:  This Work in Collections

### Steps

[2016-06-08 14:17] #2162 closed

[2016-06-08 15:07] #2081 closed

[2016-06-08 15:09] mjgiarlo commented on #2007
A @hackmastera sighting!!!

[2016-06-08 15:09] mjgiarlo commented on #2007
@justcolin thank you for taking this on and for leading the group through a productive conversation!

[2016-06-09 11:30] jcoyne opened #2178 "There should be a way to download a file."
I'm not seeing it.  It's possible that `can?(:read, file_set.id)` is returning false even though `can?(:edit, file_set.id)` is true.

[2016-06-09 12:13] #2178 closed

[2016-06-09 12:14] jcoyne commented on #2178
The option was showing, but below the fold.

[2016-06-09 15:12] grosscol commented on #2139
At the very least, the same config options shouldn't exist in both.  I recall changing the minter statefile location working in CC initializer but not in the sufia initializer.

[2016-06-09 15:55] #2175 closed

[2016-06-09 16:37] awead opened #2183 "Remove StatsAdmin class"
### Descriptive summary

`Sufia::StatsAdmin` controls access to viewing statistics, but this is better accomplished by using abilities.

[2016-06-09 17:17] jcoyne opened #2185 "Generator should remove gallery.scss"
I think we should remove `app/assets/stylesheets/blacklight_gallery.css.scss` and add:

[code]
to `sufia.scss`

I suspect that blacklight-gallery imports another copy of bootstrap here: https://github.com/projectblacklight/blacklight-gallery/blob/b0c2ad89dc78104c2e204f073e4f2fa91da3fd5c/app/assets/stylesheets/blacklight_gallery/default.scss#L1

[2016-06-09 19:00] mjgiarlo commented on #2139
At the very least, yes, @grosscol.

[2016-06-09 20:53] awead opened #2188 "Description of collection displays as array"
### Descriptive summary

Toggling the the display of collection metadata in the My Collections tab of the dashboard reveals the description is displayed as an array instead of a joined string:

![collection](https://cloud.githubusercontent.com/assets/312085/15945942/a06570b6-2e62-11e6-87e5-a818a8757532.png)

[2016-06-09 20:57] mjgiarlo commented on #2125
Started in on this one but need to drop off for now. See #2189 if you'd like to pick this up.

[2016-06-09 21:35] mjgiarlo opened #2190 "Title field in collection new/edit views is not marked as required"

[2016-06-10 13:07] jcoyne opened #2194 "Remove instances of `curation_concerns_generic_work_path`"

[2016-06-10 13:18] #2183 closed

[2016-06-10 15:55] jcoyne opened #2196 "Rename generic_work_solr_document to work_solr_document"

[2016-06-10 16:20] mjgiarlo opened #2197 "Remove/rework view overrides to support contextual nested works from CC"
Now that CurationConcerns has contextual nested works (https://github.com/projecthydra/curation_concerns/pull/829), we should change any view overrides that prevent Sufia from making use of this code:

- [ ] Include the cc/base/form_in_works partial in our cc/base/form override
- [ ] Merge changes made to CC/base/show_actions partial in our override
- [ ] Merge changes made to CC/base/show templat

[2016-06-10 16:22] #2125 closed

[2016-06-10 16:23] #2188 closed

[2016-06-10 16:26] #2104 closed

[2016-06-10 16:31] mjgiarlo commented on #2196
This work is important because it moves us closer to more fully supporting the curation_concerns pattern.

[2016-06-10 16:47] mjgiarlo commented on #1000
Refs #1074.

[2016-06-10 16:48] #417 closed

[2016-06-10 16:51] mjgiarlo commented on #2068
Moving this to 6.7.0 milestone since it's fixed in master.

[2016-06-10 16:51] mjgiarlo commented on #1914
Not seeing this as much anymore. Closing.

[2016-06-10 16:51] #1914 closed

[2016-06-10 16:52] mjgiarlo commented on #1832
Closing per @atz's recommendation. We can re-open if we repro it later.

[2016-06-10 16:52] #1832 closed

[2016-06-10 16:55] mjgiarlo commented on #1342
This is Sufia 6-specific so I'm moving the issue to the 6.7.0 milestone.

[2016-06-10 16:57] #1042 closed

[2016-06-10 16:58] mjgiarlo commented on #1039
Agree with @atz. Thanks, all.

[2016-06-10 16:58] #1039 closed

[2016-06-10 16:59] mjgiarlo commented on #939
We're now using different templates for most of this, so I'm closing until we reproduce this in master.

[2016-06-10 16:59] #939 closed

[2016-06-10 17:00] mjgiarlo commented on #2072
Tagging @jhallida

[2016-06-10 17:01] mjgiarlo commented on #1998
@cam156 is this issue still relevant or did we do a good enough job in Ann Arbor?

[2016-06-10 17:03] mjgiarlo opened #2199 "Support the curation concerns pattern"
When a user runs `rails g curation_concerns:work FooBar`, they should reasonably expect the new `FooBar` concern to appear throughout the Sufia UI -- it should be discoverable, dashboardable, uploadable, etc.. This is currently blocked by assumptions about the Sufia data model consisting of Collections, GenericWorks, FileSets, and Files only, such as hard-coded GenericWork references. We've made a

[2016-06-10 17:04] mjgiarlo commented on #1680
I believe we've made progress on this item now that we're importing styles from other components differently (not generating their assets into the containing application). I'm not ready to say this is closed, but it's probably worth another round of analysis.

[2016-06-10 17:30] mjgiarlo commented on #1680
See: #2200, #2182

[2016-06-10 18:05] #2185 closed

[2016-06-10 18:38] #2194 closed

[2016-06-10 19:03] #2171 closed

[2016-06-10 19:12] #2196 closed

[2016-06-10 21:38] #2190 closed

[2016-06-13 11:50] cam156 commented on #1998
@mjgiarlo I think this is complete.

[2016-06-13 11:50] #1998 closed

[2016-06-13 20:32] #2139 closed

[2016-06-14 19:51] awead opened #2221 "Location auto-complete not working"
### Descriptive summary

When typing in the Location field in the generic work edit form, there are no auto-complete suggestions appearing.

### Expected behavior

There should be some matches based on the geonames search going on via an AJAX request.

### Actual behavior

[code]

### Steps to reproduce the behavior

1. Got to concern/generic_works/new in the sample internal app
1. Type in "Par" i

[2016-06-14 20:10] awead commented on #2221
`Sufia.config.geonames_username` needs to have a value in `config/initializers/sufia.rb`

[2016-06-14 20:10] #2221 closed

[2016-06-14 20:11] jcoyne commented on #2221
Maybe we should add to the readme that you should create an account here:http://www.geonames.org/login

[2016-06-14 20:16] awead opened #2222 "Provide documentation for using geonames search"
In order to have location auto-complete enabled, you need to have a working geonames account. We should provide some documentation for setting that up.

Visit: http://www.geonames.org/login
After registering and getting an account username, you'll need to enable the free web services by going to http://www.geonames.org/manageaccount and clicking the link to enable.

[2016-06-14 20:16] awead commented on #2221
See #2222

[2016-06-15 14:55] njaffer opened #2223 "Total Items in Collection not updated when a work is deleted"
### Descriptive summary

Sufia 7 (master branch)

### Expected behavior
When a work that is part of a collection is deleted, the number of items for that collection should be updated

### Actual behavior
Total items is showing 1, while there are no items in the collection

### Steps to reproduce the behavior

1. Create a collection 'Collection A'
2. Add a work to 'Collection A'
3. Delete the work

[2016-06-15 19:05] awead opened #2225 "Contact form fails to send"
### Descriptive summary

Contact form fails to send because these config items are missing:

https://github.com/projecthydra/sufia/blob/master/app/models/contact_form.rb#L24-25

Should we add dummy values into the generator or provide some kind of documentation?

[2016-06-15 19:13] njaffer commented on #2225
@awead: Adding dummy values in the config seems like a good idea. I ran into the same situation.

[2016-06-15 20:47] #2007 closed

[2016-06-16 13:08] grosscol opened #2237 "Change internal_test_app to serve out of a relative_url_root"
### Descriptive summary

Code that assumes the application will be served out of the webhost at / is detrimental.  It is not a valid assumption that all adopters will be serving their Sufia based application from the root context of the host.  In order to catch those cases, the internal_test_app should serve out of a relative_url_root by default.  Code that plays nicely with relative_url_root shou

[2016-06-16 15:11] #2225 closed

[2016-06-16 17:51] awead opened #2244 "Adding/removing rights prevents metadata from validating"
### Descriptive summary

When entering metadata for a new work, adding an empty rights option prevents the form from validating. The fix might could be just preventing adding additional rights if you haven't selected one first.

### Steps to reproduce the behavior

1. Create a new work
1. Before entering anything, click "+ More" under rights
1. Now click "- Remove" to remove it
1. Proceed with ent

[2016-06-16 19:17] njaffer commented on #2223
@jcoyne: When the work is deleted here: https://github.com/projecthydra/curation_concerns/blob/master/app/controllers/concerns/curation_concerns/curation_concern_controller.rb#L96

Should the solr be reindexed, because the total_items(https://github.com/projecthydra/curation_concerns/blob/97a4ce030d628dd531c8d7aaba91d3032435881d/app/presenters/curation_concerns/collection_presenter.rb#L30) returns

[2016-06-16 19:54] jcoyne commented on #2223
Yes. I think that curation_concerns should probably have an actor for destroying, and one of the tasks the actor would have would be to reindex any collections the object may be in.

[2016-06-17 13:01] awead opened #2247 "Use ActionMailer instead of Mailform"
Is there a reason we're using Mailform instead of ActionMailer? Do we want to change any of that?

[2016-06-17 13:30] jcoyne commented on #2247
I assume it's for the validations.  I know that Mailform doesn't support `deliver_later`, so that is one reason we may want to change, but it's not a great benefit.

[2016-06-17 14:47] awead commented on #2247
I think the validations are of more benefit than the `deliver_later` option. If we wanted that, we could create a mail delivery job with Active::Job.

[2016-06-19 20:53] mjgiarlo commented on #2222
@awead Want to copy/paste what you wrote above (with an appropriate header and TOC entry) to https://github.com/projecthydra/sufia/wiki/Sufia-Management-Guide and close this ticket? :)

[2016-06-20 18:22] #2165 closed

[2016-06-20 19:19] atz commented on #2223
I am not enthusiastic about the prospect of reindexing an entire 10,000-item collection just because one largely empty record was deleted... in particular if the payoff is just affecting the count.  I would support a config or heuristic for "cheap delete" that decrements the count without a sprawling reindex.

[2016-06-20 22:07] jcoyne commented on #2223
Reindex on the collection object should just reindex that collection object.  It shouldn't be a very expensive operation. It doesn't cause a reindex of all the members.

[2016-06-21 16:16] mjgiarlo commented on #2223
@njaffer Now that https://github.com/projecthydra/curation_concerns/pull/855 is merged, do you want to point your local Sufia at the updated CC and confirm this bug has been effectively fixed in Sufia as well? This issue is the only blocker we have at the moment. Thank you!

[2016-06-21 16:42] njaffer commented on #2223
@mjgiarlo: sure I will test it and let you know soon!

[2016-06-21 21:32] njaffer commented on #2223
Fixed with https://github.com/projecthydra/curation_concerns/pull/855

[2016-06-21 21:32] #2223 closed

[2016-06-22 15:13] awead opened #2270 "Unable to render homepage as administrator with featured items"
### Descriptive summary

As an admin
If featured works exist
I am unable to view the homepage

### Expected behavior

As an admin
If featured works exist
I should be able to view the homepage
And I should be able to re-arrange/remove featured items

### Actual behavior

I18n::MissingTranslationData at /
translation missing: en.drag

### Steps to reproduce the behavior

1. Build the sample app
1. E

[2016-06-22 15:15] awead opened #2271 "Private works are still being featured"
### Descriptive summary

As an admin
With a public work that is featured
When I make the work private
Then it is still listed on the homepage

### Expected behavior

As an admin
With a public work that is featured
When I make the work private
Then it should not be listed on the homepage

### Actual behavior

It's still listed on the homepage.

### Steps to reproduce the behavior

See #2270

### Re

[2016-06-22 17:16] #1968 closed

[2016-06-22 17:56] #2270 closed

[2016-06-22 18:01] mtribone commented on #1353
Closing issue since changes have been made to improve accessibility and usability. #2003

[2016-06-22 18:01] #1353 closed

[2016-06-22 19:38] awead commented on #2222
Done.

[2016-06-22 19:38] #2222 closed

[2016-06-22 20:21] #2271 closed

[2016-06-22 23:36] jcoyne commented on #2247
@awead can we close this?

[2016-06-22 23:38] jcoyne opened #2278 "Expose model_to_create in the config template"
I'm not entirely sure if this will be useful or clutter.  We have `model_to_create` in the configuration, but we didn't add it to the template.  This allows people to configure which model is created for a specific batch upload item.  It's certainly not necessary until we support multiple work types.

Epic: #2199

[2016-06-22 23:40] mjgiarlo commented on #2278
We also ought to document this in the Sufia Management Guide.

[2016-06-22 23:48] jcoyne commented on #2244
This is because required fields are created when the page is initialized (and never updated):
https://github.com/projecthydra/sufia/blob/master/app/assets/javascripts/sufia/save_work/required_fields.es6#L6

[2016-06-23 00:25] jcoyne commented on #2244
Fix will require us to hook into hydra-editor so that when a field is added or removed, the `SaveWorkControl` is reinitialized. This will be challenging as hydra-editor doesn't have *real* callbacks and it's pseudo-callback is already used by the autocomplete functionality.

[2016-06-23 00:50] #2247 closed

[2016-06-23 15:52] awead opened #2280 "Work titles are not appearing correctly in highlighted works tab"
### Descriptive summary

When I highlight a file on my profile
Then I do not see its title on the highlighted works tab

![highlight](https://cloud.githubusercontent.com/assets/312085/16310052/fff8fb3e-3938-11e6-854b-c15143f99f6d.png)

### Expected behavior

I should see the title.

### Actual behavior

I do not.

### Steps to reproduce the behavior

1. Create a work
1. Highlight it using the drop

[2016-06-23 15:58] jcoyne commented on #2280
It looks like the `TrophyPresenter` needs to delegate `to_s` to something.

[2016-06-23 16:01] awead commented on #2280
solr_document.title.first does the trick

[2016-06-23 19:39] #2280 closed

[2016-06-23 20:00] awead commented on #2244
@mjgiarlo are we still considering this a blocker? It's possible to circumvent it by reloading the page.

[2016-06-23 20:03] mjgiarlo commented on #2244
@awead I believe @jcoyne may have already started in on this work in hydra-editor, in which case, yeah.

[2016-06-23 22:00] jcoyne commented on #2244
Yes, I'm still working on this.

[2016-06-23 22:32] jcoyne opened #2283 "generic_work is hardcoded in edit_metadata.js"
This may cause batch_upload not to have autocomplete. Additionally autocomplete may not work unless the work is GenericWork.

[2016-06-24 15:08] awead opened #2286 "No "Attach a File" button"
### Descriptive summary

When viewing a work with no files
Then I should see a button labeled "Attach a file"

### Steps to reproduce the behavior

1. Create work
1. Delete its file

The text at the bottom of the page states: "This Work has no files associated with it. You can add one using the "Attach a File" button below." However, there is no button.

[2016-06-24 16:20] mjgiarlo commented on #2286
@jcoyne can probably confirm, but I thought the "Attach a File" workflow was the one we get from CC which we may have deleted a while back during a community sprint (because we had two competing workflows that confused the UI). Thanks for finding this, @awead.

[2016-06-24 16:20] jcoyne commented on #2286
So, the fix is to update the text to say "click edit to add more files"?

[2016-06-24 16:20] mjgiarlo commented on #2286
That would be a fine fix for 7.0.0.

[2016-06-24 16:59] #1971 closed

[2016-06-24 17:00] #2244 closed

[2016-06-24 17:19] jcoyne opened #2287 "Location authorities are broken"
[code]

[2016-06-24 20:59] jcoyne commented on #2287
I feel like we should get rid of the ActiveResource dependency and add a GeoNames driver to Questioning Authority.

[2016-06-25 03:10] jcoyne commented on #2287
Blocked by https://github.com/projecthydra-labs/questioning_authority/pull/90

[2016-06-25 06:22] mjgiarlo commented on #2287
Merged

[2016-06-27 13:11] #2155 closed

[2016-06-27 13:12] #2151 closed

[2016-06-27 13:12] #2153 closed

[2016-06-27 13:12] #2154 closed

[2016-06-27 13:15] mtribone commented on #1984
Is this issue in regards to the relationships tab of a work? Do we want to add a "clear" button?

![screen shot 2016-06-27 at 9 13 22 am](https://cloud.githubusercontent.com/assets/4163828/16380902/aff25a92-3c47-11e6-9ac6-591e1f75af39.png)

[2016-06-27 13:19] mtribone commented on #2286
It looks like we used to have an "Attach a file" button? Can we just add the button back or make the "Attach a file" a hyperlink to the files tab?

![screen shot 2016-06-27 at 9 17 23 am](https://cloud.githubusercontent.com/assets/4163828/16380993/3c13c2e0-3c48-11e6-9779-49b81d02580c.png)

[2016-06-27 17:31] mjgiarlo commented on #2286
@mtribone Until now, I'd prefer to go with @jcoyne's suggestion:

[2016-06-27 17:31] mjgiarlo commented on #2286
And if @projecthydra/sufia-ui-ux-advisors have suggestions for more robust fixes in future releases, I'd love to see those in a new or existing issue.

[2016-06-28 00:34] #2286 closed

[2016-06-28 12:50] #2283 closed

[2016-06-28 12:50] #2287 closed

[2016-06-28 13:51] jcoyne opened #2294 "undefined method `name' for nil:NilClass"
### Descriptive summary
[code]

[2016-06-28 13:55] jcoyne commented on #2294
this was caused by bad data in the solr index.

[2016-06-28 13:55] #2294 closed

[2016-06-28 13:59] awead opened #2295 "Where do we put google_analytics_id?"
It looks like this was removed from Sufia.config, but there are still multiple references:
https://github.com/projecthydra/sufia/blob/43a3271050de6db0bec82847882bf9d88640e3ad/app/views/_ga.html.erb#L3
https://github.com/projecthydra/sufia/blob/c3e0ffda0abe9b1bd8fadc8d8d4323eb3201c3af/app/services/sufia/analytics.rb#L62

Do we follow CurationConerns?

https://github.com/projecthydra/curation_concer

[2016-06-28 14:18] jcoyne opened #2296 "NoMethodError - undefined method `polymorphic_path'"
[code]

[2016-06-28 14:42] #2296 closed

[2016-06-28 14:44] jcoyne commented on #2295
I think we should re-add it to the config. I think that's the proper location.

[2016-06-28 14:45] jcoyne commented on #2295
Related to https://github.com/projecthydra/curation_concerns/issues/827

[2016-06-28 15:48] lfarrell opened #2301 "Error New Work View in Ruby 2.1.6"
### Descriptive summary
This is probably a minor issue, as I'm not sure what Ruby versions sufia supports, but using 7.0.0.beta4 and Ruby 2.1.6 gives the error below. Upgrading to Ruby 2.2 fixes the issue, but thought I'd make you all aware of it.
![sufia](https://cloud.githubusercontent.com/assets/436691/16422309/ec85a2c8-3d25-11e6-9cee-338942727296.png)

[2016-06-28 16:52] jcoyne opened #2302 "saveWorkControl should not be initializing on the batch edit form."
When I'm on the batch edit form ([http://localhost:3000/batch_edits/edit?batch_document_ids[]=np193921h](http://localhost:3000/batch_edits/edit?batch_document_ids[]=np193921h)) and I click the "More" button to add another field

I get this message in the console:
<img width="676" alt="screen shot 2016-06-28 at 11 51 41 am" src="https://cloud.githubusercontent.com/assets/92044/16424667/be8aceba-3d2

[2016-06-28 17:07] mtribone commented on #2174
Well batch edit looks nothing like the wireframe or the new work screen, so I'll need to punt on this until the larger issue of the batch edit rewrite is discussed.

[2016-06-28 17:41] jcoyne opened #2303 "BatchEdit is not destructive"
### Descriptive summary
If all files in the batch have a contributor of "Bob" and you edit the batch, remove Bob and then save, I would expect that bob would not be a contributor on any files. However, presently "Bob" is not removed as a contributor from any of the files.

[2016-06-28 17:46] mjgiarlo commented on #2303
Thoughts on this, @sufia-ui-ux-advisors?

[2016-06-28 17:55] jcoyne commented on #2303
We need to be careful with this fix. Because currently the batch edit only shows values that are common to all of the batch items.  So we need to make sure that "Rhonda" isn't removed as a contributor if she was only present on 1 out of 3 works in the batch.

[2016-06-28 17:56] hackmastera commented on #2303
My experience of batch edit in sufia 6 was that it has so many problems. see, e.g., https://github.com/chemheritage/chf-sufia/issues/67#issuecomment-185339085

[2016-06-28 18:00] hackmastera commented on #2303
If what Justin is saying is true, that it only shows common values, then that is a huge improvement!

[2016-06-28 18:20] mtribone commented on #2173
@mjgiarlo @elrayle I'm struggling philosophically a little bit with moving Related (External) URL from the _metadata_ tab to the _relationships_ tab. The relationships tab implies to me that these are internal or system relationships–and the external URL is outside of the system.

I need some help on this one. I can do the work, just having doubts.

[2016-06-28 18:27] mjgiarlo commented on #2173
@mtribone I'm on the fence about this change, too. I *assumed* this was a change vetted by the UI/UX WG but perhaps it's time to kick this around again. Tagging @projecthydra/sufia-ui-ux-advisors

[2016-06-28 18:30] hackmastera commented on #2173
good one to ask real users. i have a personal aversion to this as someone familiar with the data / interworkings but I fear this clouds my judgment.

[2016-06-28 19:03] atz commented on #2302
I'd say that's a blocker.

[2016-06-28 19:14] awead commented on #2173
I think it belongs in metadata. As I understand it, the related URL is the equivalent of a user pasting in a link from a browser. Relationships, however, are resources identified by URIs. I would be okay if "related url" was in the relationships tab, but it should be enforced as a URI and not just a string that begins with _http_. On the other hand, I'm also with @mtribone that these relationships

[2016-06-28 19:17] jcoyne commented on #2303
@hackmastera you are correct and I was wrong. https://github.com/projecthydra/sufia/blob/master/app/forms/sufia/forms/batch_edit_form.rb#L29-L38

[2016-06-28 19:27] hackmastera commented on #2303
@jcoyne bummer!!

Well, i'm not sure what kind of thoughts @mjgiarlo is looking for but I favor a complete rewrite / redesign of batch edit. Which seems entirely out of scope for this issue. I drew a whiteboard sketch a hundred years ago and am trying to dig it up.

@atz suggested renaming the functionality to 'metadata normalizer' [1] which is a great name but I think users need better functional

[2016-06-28 19:32] jcoyne commented on #2303
I think it would be super if you wanted to redesign the batch edit. 👍

[2016-06-28 19:49] bnhowell commented on #2173
I tested a PI and their Graduate assistant a month and a half ago and one
of their primary requests was to have a metadata field that highlighted
links to related published works in other repositories. That was how they
understood the term 'Relationships' and related URL.

On Tue, Jun 28, 2016 at 3:14 PM, Adam Wead <notifications@github.com> wrote:

--
Ben Howell | Accessibility & User Experience

[2016-06-28 19:51] hackmastera commented on #2173
my users are expressing a mild preference for keeping this on the metadata tab, and a strong preference for clarity on the front end between internal and external links.

[2016-06-28 19:53] awead commented on #2173
@hackmastera what's a "link" and what's the difference between one that is internal versus external?

[2016-06-28 19:56] hackmastera commented on #2173
i guess I meant internal / external relationships? internal being other collections / works / objects within the repository. external being anything anywhere else. does that clarify?

[2016-06-28 20:03] hackmastera commented on #2173
@awead i'm not sure we have a current use case for external relationships on a URI basis, so that distinction isn't figuring into this for us.

[2016-06-28 20:18] mtribone commented on #2173
@mjgiarlo Yeah I think that we were all cool with it at the time. Fast forward a bit and I'm learning a bit more and am looking at this and scratching my head. IF relationships are internal to the repo does this field belong there?

@bnhowell They will definitely have it. I'm struggling with its "correct" location in the interface.

[2016-06-28 20:26] bnhowell commented on #2173
@mtribone Thanks! I'm sure our researchers would appreciate being able to highlight/increase discovery of their published works. I haven't seen Sufia 7 much, but I would hope that a section for external 'related works' or something similar would be present. At the time of our testing we suggested that external links could be part of the work description field.

[2016-06-28 22:25] mjgiarlo commented on #2303
tbh, my druthers are to leave batch-edit as is (barring major bugs) until we have time to redesign it from the ground up.

[2016-06-28 22:38] atz commented on #2303
Actual "Batch Edit" functionality, which for clarity here we mean "Edit operation(s) serially applied to an arbitrary set of records" is a major feature of considerable importance to prospective users (probably even more so to legacy users who may need to massage their data during and after migration).  It is also a gnarly can of worms with guaranteed feature creep as soon as it contacts real user

[2016-06-28 22:53] #1813 closed

[2016-06-28 22:56] atz commented on #2173
@mtribone No, intermingling these two types of references (without distinction) seems inadvisable. Maybe the tab could still be used, including some delineation, but I'd still not prefer it.  I agree with your instinct to keep them separate.

In general it seems like associations that are **in** the record should stay with the record view, vs. associations that are **with/to** the record, i.e. par

[2016-06-29 00:53] hackmastera commented on #2303
Well i would love to see it too. I am thinking this must be one of the photos I lost when my then-two-year-old deleted everything on my phone by entering the wrong passcode too many times in a row. It's not enough to lock your phones, people! I give up.

[2016-06-29 01:50] jcoyne opened #2309 "Link to contributor on index result produces an broken search"
When I click on this link in the search result:

<img width="278" alt="screen shot 2016-06-28 at 8 49 26 pm" src="https://cloud.githubusercontent.com/assets/92044/16438067/0920d44c-3d72-11e6-94bd-c54a0bed4eba.png">

It takes me to:
http://localhost:3000/catalog?frank="contributor"&search_field=advanced

which isn't filtering in any way. It's returning all results.

@mtribone any ideas?

[2016-06-29 05:19] #2302 closed

[2016-06-29 12:44] mtribone commented on #2309
Hmmmm...I'll take a look.

[2016-06-29 17:48] mtribone commented on #2309
Is there are reason this line is commented out?

https://github.com/projecthydra/sufia/blob/master/lib/generators/sufia/templates/catalog_controller.rb#L22

[2016-06-29 18:04] mjgiarlo commented on #2309
:arrow_up: @awead ?

[2016-06-29 18:10] cam156 commented on #2309
@jcoyne the blacklight advanced search integration is completely 💩.  I could get to the /advanced page to load by deleting the sufia overrides and running the generator in .internal_tes_app, but it was showing fields that were not configured in the catalog controller.  I am not sure where "Number"

![screen shot 2016-06-29 at 2 09 23 pm](https://cloud.githubusercontent.com/assets/1599081/16463287/

[2016-06-29 18:56] atz commented on #2309
The weirdest part about the bad link is that it reverses field name and value: `frank="contributor"`.  I wouldn't expect that to filter until I had a field named frank.

[2016-06-29 19:07] mtribone commented on #2309
@atz I think that is because of this:
https://github.com/projecthydra/sufia/blob/master/app/helpers/sufia/sufia_helper_behavior.rb#L98

[2016-06-29 20:50] atz commented on #2309
@mtribone: I agree, looks like the args are reversed according to the method declaration just 4 lines later.

[2016-06-30 00:23] atz commented on #2309
No tests added with the new methods when added (or since) https://github.com/projecthydra/sufia/commit/fb8dd99d144ea1ea95cc0ded0e12d3e04bb2a687

[2016-06-30 02:28] awead opened #2312 "SufiaHelperBehavior#render_visibility_label should use PermissionBadge"
CurationConcerns::PermisisonBadge contains all the logic and presenter code necessary to do what SufiaHelperBehavior#render_visibility_label is doing.

[2016-06-30 02:57] atz opened #2313 "sufia_helper has issues"
`master` branch.
Related to: #2309, #2312

- Documentation coverage lacking: contains 5 of the top 6 "Please take a look" targets from [inch](https://inch-ci.org/github/projecthydra/sufia)
- Test coverage lacking.
-  `link_to_facet_list`: the `html_safe`-ness of the returned string varies because the default empty message is not marked html_safe.
- `search_state_with_facets`: accepts a hash of fac

[2016-06-30 11:06] mtribone commented on #2309
@atz The only tests that I added were to check if the content was there.
https://github.com/projecthydra/sufia/commit/fb8dd99d144ea1ea95cc0ded0e12d3e04bb2a687#diff-d545c7328a51301b0fdc2f9234fa9437R60

Looking forward to seeing how you fix this up. I learnz.

[2016-06-30 16:10] awead commented on #2303
I think for Sufia 7 greenfield adopters, there won't be much use for this feature, other than perhaps for administrative use cases where you need to apply a set of changes to a group of works, such as marking a bunch "private" because of some changes in policy. Penn State has had this need in the past.

The history of batch edit has to do with previous versions of Sufia that didn't have works. In

[2016-06-30 18:18] awead opened #2315 "Faceting on terms in file sets"
### Descriptive summary

We can return search results from FileSet objects because we're able to do solr joins, and return the GenericWork for which the matching FileSet was found. However, how do we do this for facets?

For example, we want to add a facet for `file_type` which is a term generated during characterization. The term is indexed into the FileSet, but how do we facet on it so that it r

[2016-06-30 22:56] atz commented on #2315
In my experience, solr joins will kill scalability and our ability to reason about queries.

The most solr-ish answer here is that if you wanted to facet on file_type for work objects, you index that field in your work documents (in addition to wherever else you want it).

[2016-06-30 22:59] cbeer commented on #2315
Is that still true with the enhancements they've made in Solr 5 + 6?

[2016-07-01 01:22] awead commented on #2315
@atz yeah, that was my initial solution to the problem, similar to what we're doing with FileSet > File pairings viz. characterization metadata.

It's an open question at this point, and this issue is here to facilitate discussion.

[2016-07-01 20:24] awead opened #2317 "Blacklight 6.3"
### Descriptive summary

Blacklight 6.3 fixes problems with turbolinks 5.0, but there are some breakages. Some of the expectations with `itemprop` results have changed. Particularly, the contributor term isn't rendering properly.

[2016-07-01 23:27] atz commented on #2317
Pls add milestone.  Otherwise it is unclear what the blocker is blocking.

[2016-07-01 23:28] atz commented on #2317
Note: contributor rendering may have just been our own error in a helper_method.

[2016-07-02 02:21] atz commented on #2301
As of https://github.com/projecthydra/sufia/commit/ec02fc328950f80099a77d0c8025f91b316d2dfd, we only test against 2.2 now.  Not sure how official that is as a decision re: supported/unsupported.

[2016-07-05 18:39] hackmastera opened #2321 "Support the CC file manager (integrate it into the UI)"
Once we have nested works, we want to be able to order objects within works.

Blocked by #2199 and #2243.

[2016-07-05 18:40] #2147 closed

[2016-07-05 18:49] mjgiarlo commented on #2321
Related to (and blocked by) #2243.

[2016-07-05 18:50] mjgiarlo commented on #2321
This *may* be an epic.

[2016-07-05 20:17] hackmastera commented on #2321
We also need to be able to order files (FileSet objects) which I gathered is part of the file manager, as well. My understanding is that Works and FileSets can be ordered (and intermingled) on a given parent.

[2016-07-05 20:48] mjgiarlo commented on #2321
@hackmastera This would be good to verify in the latest release of CC.

[2016-07-05 21:14] atz commented on #2315
It will always be true that indexing what you want ahead of time will outperform runtime computation.

[2016-07-06 15:37] awead opened #2322 "No implicit conversion of Array into String"
### Descriptive summary

After creating a work, when I go to the search results page, I get:
[code]

### Steps to reproduce the behavior

1. Create a work with the required metadata
1. Perform a search for the work

### Related work

#2317

### Full stacktrace

[code]

[2016-07-06 15:49] awead commented on #2322
Looks like we don't need `human_readable_date` anymore. This is now done in the solr document.

[2016-07-06 16:21] electrickite opened #2323 "Cannot run sufia:install generator in Sufia 7.0.0.beta4"
### Descriptive summary

Cannot run sufia:install generator in Sufia 7.0.0.beta4 or latest Sufia 7 HEAD.

### Expected behavior

Run `rails generate sufia:install -f`
Generator runs successfully with no errors.

### Actual behavior

Generator throws several errors while running, from the noid rake task.

[code]

[2016-07-06 16:30] kerchner commented on #2323
Similar error here with similar steps:
[code]

[2016-07-06 16:39] electrickite commented on #2323
A workaround is to specify that `active_fedora-noid` is pulled from git in your `Gemfile`. Right now, the version is 2.0.0.beta1, which is commit 8107a47

`gem 'active_fedora-noid', :git => 'https://github.com/projecthydra-labs/active_fedora-noid.git', ref: '8107a47121919ab250784b22e6ee7b066fa711db'`

[2016-07-06 17:44] awead commented on #2323
This will be fixed in https://github.com/projecthydra/sufia/pull/2318

[2016-07-06 20:56] mjgiarlo commented on #2323
I wonder if CC or Sufia should pin AF::Noid to < 2 in the meantime.

[2016-07-07 11:04] awead opened #2325 "Human-readable dates for embargoes and leases"
### Descriptive summary

When placing a work under an embargo or lease, the date appears as a full time stamp, ex. 2016-07-27T00:00:00+00:00. It should either be just a date, or a date with a properly formatted time.

[2016-07-07 11:14] awead commented on #2309
This is fixed in #2318.

[2016-07-07 11:19] awead opened #2326 "Enable Solr-only viewing of FileSets"
### Descriptive summary

We're able to view the work page by only using Solr, and not having to make any calls to Fedora. Why not make this happen for the file set pages as well?

Currently, there are at least two calls to Fedora, one for the parent object, such as the containing work, and another call for the file set, to obtain all the versions of the file for the audit trail.

It would nice if

[2016-07-07 11:29] awead opened #2327 "Display lease and embargo information in show view"
### Descriptive summary
The only way to view embargo and lease information is to do so in edit mode. We should also display this information when viewing the item individually, as well as in search results.

[2016-07-07 13:18] jcoyne commented on #2327
yes

[2016-07-07 14:17] #2322 closed

[2016-07-07 14:17] #2317 closed

[2016-07-07 14:17] #2295 closed

[2016-07-07 16:05] awead opened #2328 "Extraneous access control resource"
### Descriptive summary

I'm noticing this while looking at calls made to Fedora while creating works in Sufia.

When I visit `/concern/generic_works/new` there's a new Hydra::AccessControl created in Fedora. However, if I continue to create the work and save it, that original acl object doesn't appear to be used at all. There's another acl that actually is governing the work.
### Expected behavio

[2016-07-07 16:06] awead opened #2329 "HTTP HEAD requests for the dashboard"
### Descriptive summary

When visiting the dashboard, there are HTTP HEAD calls for work in the list. Is the HEAD request needed or can we get all this info from solr?
### Related work
#2328

[2016-07-07 16:30] #2136 closed

[2016-07-07 18:05] hackmastera opened #2330 "Discuss: Batch Edit redesign / overhaul"
### Goals
- Repair / expand the usability of batch edit.
- Better integrate form fields so custom fields can be re-used from other parts of the application
- Allow both single-valued and multivalued fields to be batch edited
- Redesign UI for better usability
### Related

some discussion on #2303
@projecthydra/sufia-ui-ux-advisors

[2016-07-07 18:08] hackmastera commented on #2330
At one point I had drawn something up, UI-wise, but I lost that and I have no memory of it (thought the memory was sufficiently outsourced!)

Just sketched this, not a proposed UI because it's too weird but a way for me to start thinking about required UI interactions. comments welcome.

![2016-07-07 14 07 17](https://cloud.githubusercontent.com/assets/845363/16663966/2d4c4c44-444c-11e6-857a-49538

[2016-07-07 18:10] mjgiarlo commented on #2330
Thanks for getting this started, @hackmastera!

@DanCoughlin do you happen to have the diagram we (you) did a few years ago for the batch-edit redesign? This would be a great place to share that if you can dig it up.

[2016-07-07 20:06] hackmastera commented on #1818
Question outstanding: is `rails g curation_concerns:install` intended to create `config/initializers/creation_concerns.rb`? Because it fails to do this. But I believe @awead told me config values from this initializer have been integrated into the sufia initializer. So maybe it's not necessary.

Regarding the route errors, I'm able to get rid of them if I delete all devise, root, and blacklight ro

[2016-07-07 20:24] jcoyne commented on #1818
I think this should be closed. You should not be running `curation_concerns:install` if you want a Sufia application.

[2016-07-07 20:31] #1818 closed

[2016-07-07 20:31] jcoyne commented on #2309
Fixed by merge of #2318

[2016-07-07 20:31] #2309 closed

[2016-07-07 21:54] rotated8 commented on #2323
Bundler also allows you to specify tags, and github repos without the full url:

`gem 'active_fedora-noid', github: 'projecthydra-labs/active_fedora-noid', tag: 'v2.0.0.beta1'`

[2016-07-08 13:12] #2131 closed

[2016-07-08 15:09] #2326 closed

[2016-07-08 15:19] awead opened #2334 "Remove deprecated render_index_field_value method"
### Descriptive summary

Called from `app/views/catalog/_index_list_default.html.erb`

[2016-07-08 15:21] jcoyne opened #2336 "ActionView::MissingTemplate: Missing template errors/404"
I think this is because the views for errors are currently in `app/error` rather than `app/errors`

[2016-07-08 15:30] jcoyne opened #2337 "ErrorsController#single_use_error doesn't exist."
[code]
I think we can remove these routes.

[2016-07-08 16:01] #2336 closed

[2016-07-08 17:13] #2337 closed

[2016-07-08 18:58] awead opened #2345 "Test Blacklight index_presenter"
### Descriptive summary

We're using Blacklight's `index_presenter` and ought to have a minimal feature test that ensures it's doing what we need it to do. Namely, this would include:

* verifying certain index fields are displayed as facetable links

Other?

[2016-07-08 19:04] mjgiarlo commented on #2345
See past integration testing here: https://github.com/projecthydra/sufia/blob/821fa7111865272b8130dccd62f9ce05e0d6a975/spec/helpers/blacklight_helper_spec.rb

[2016-07-08 19:05] mjgiarlo commented on #2345
And discussion here: https://github.com/projecthydra/sufia/issues/2341

[2016-07-08 19:47] jcoyne commented on #2345
I don't think we want to test the index_presenter. That is already well tested.  If you want to do integration testing, you must call sufia code, not Blacklight code, otherwise there is no integration.

[2016-07-08 20:40] #2334 closed

[2016-07-08 22:10] atz commented on #2345
- That our helper_methods actually receive back from Blacklight arguments that we can handle.  One relies on `arg[:config][:field_name]`, for example.
- `itemprop`
- `field.label`
- All of our helper_methods: `iconify_auto_link`, `link_to_search`, `index_field_link`, `rights_statement_links`, `human_readable_date`
- That our generated configuration achieves the correct composite behavior.

I agree

[2016-07-09 04:45] atz commented on #2345
Also check fields' `if` and `unless` clauses.

[2016-07-09 15:30] #2313 closed

[2016-07-11 15:22] #2132 closed

[2016-07-11 15:23] #2133 closed

[2016-07-11 18:13] mtribone opened #2348 "Description Field Ouput in Search List Contains Code and Text"
### Descriptive summary

When I create a new work in Sufia 7.0.0 and then search all of sufia, the description field output in the results contain code and text.

### Expected behavior

I expect just human readable text as the output of the description field.

### Actual behavior

![screen shot 2016-07-11 at 12 39 49 pm](https://cloud.githubusercontent.com/assets/4163828/16741409/21e49474-4771-11e

[2016-07-11 18:55] hackmastera opened #2349 "Remove solr/conf/ from generated apps"
Discussion on slack indicates that this is cruft since introduction of solr_wrapper. @cam156 offered this as evidence: https://github.com/projecthydra/active_fedora/blob/master/lib/generators/active_fedora/config/solr/templates/.solr_wrapper#L7

[2016-07-11 19:04] jcoyne commented on #2349
I don't think it's cruft. This is directory is where you put your solr configuration. This is what solr_wrapper uses to start solr.

[2016-07-11 19:12] hackmastera commented on #2349
@jcoyne there are two directories: solr/conf and solr/config. I could have misread the conversation on channel but I gathered that solr/config is the one in current use. solr/conf contains only a single solrconfig.xml.

[2016-07-11 19:12] jcoyne commented on #2349
@hackmastera okay, that definitely sounds like a problem then.

[2016-07-11 19:15] jcoyne commented on #2349
We should probably rename: https://github.com/projecthydra/active_fedora/tree/master/lib/generators/active_fedora/config/solr/templates/solr/config to https://github.com/projecthydra/active_fedora/tree/master/lib/generators/active_fedora/config/solr/templates/solr/conf so that follows the solr default: https://github.com/cbeer/solr_wrapper/blob/544077d5ef5666388fbf92ba36dff83b7949d2e2/spec/fixture

[2016-07-11 19:15] jcoyne commented on #2349
Should this ticket move to AF?

[2016-07-11 20:39] #2004 closed

[2016-07-12 15:30] #2348 closed

[2016-07-12 16:56] #2111 closed

[2016-07-12 17:10] #2005 closed

[2016-07-12 17:26] awead opened #2356 "BrowseEverything is not compatible with Turbolinks 5"
There's a PR in to fix this, but may need more testing:

https://github.com/projecthydra/browse-everything/pull/127

[2016-07-12 18:07] mtribone opened #2357 "My Works List - Bootlint Errors"
### Descriptive summary

Sufia 7.0.0

1. Columns (`.col-*-*`) can only be children of `.row`s or `.form-group`s (fieldset.col-xs-12): https://github.com/twbs/bootlint/wiki/E014
1. `.panel-heading` must have a `.panel` parent (div#facets.facets.sidenav): https://github.com/twbs/bootlint/wiki/E024

[2016-07-12 19:23] awead opened #2358 "Single-Use link to file button is broken"
### Descriptive summary

From the file set show page, clicking on the "Single-Use Link to File" button doesn't do anything.

### Expected behavior

Unknown (to me) but it should probably do something. 😄

### Actual behavior

Button is just pressed.

[2016-07-12 19:30] njaffer commented on #2358
May be you have a pop up blocker, when I click on the button, it pops up a dialog box with the single use link

[2016-07-12 19:34] jcoyne commented on #2358
It may also be related to Turbolinks 5

[2016-07-12 19:36] awead commented on #2358
Yeah: see https://github.com/projecthydra/sufia/blob/master/app/assets/javascripts/sufia/single_use_link.js#L12

[2016-07-12 22:22] #2356 closed

[2016-07-12 22:24] #2357 closed

[2016-07-15 14:38] jamesvanmil opened #2361 "solr_wrapper not working on fresh install of 7.0.0.rc1"
On a new install this following these directions: https://github.com/projecthydra/sufia/tree/v7.0.0.rc1#creating-a-sufia-based-app

The following command

`solr_wrapper -d solr/config/ --collection_name hydra-development`

was producing the following error, and I'm unable to get to the solr webadmin at localhost:8983

`starting Solr 6.1.0 on port 8983 ... /Users/vanmiljf/.rvm/rubies/ruby-2.3.1/lib

[2016-07-15 15:01] jamesvanmil commented on #2361
Okay, so nevermind on this. It turns out that tmux is preventing the solr_wrapper startup command from working. When I run the command from outside of tmux, it executes properly.

Going to close this, but if anyone has any thoughts about this, I'd love to hear them.

[2016-07-15 15:01] #2361 closed

[2016-07-15 20:42] electrickite opened #2362 "Error using Sidekiq with Sufia 7"
### Descriptive summary

The documentation for Sufia 7 mentions that the Active Job backend can be Resque or Sidekiq, however it appears that Sidekiq will not run in a Sufia 7 application.

Sufia 7.0.0.rc1
Rails 4.2.6
Ruby 2.3.1
Sidekiq 4.1.4
OSX 10.11.5

Executing `bundle exec sidekiq` fails with the following error:

    /home/myuser/.gem/ruby/2.3.1/gems/hydra-access-controls-10.0.2/app/models/c

[2016-07-15 21:28] jcoyne commented on #2362
You'll need to add something like this:
https://github.com/projecthydra-labs/lerna/blob/c1c2c49a45559593c1ed5370b3df575778ff8462/config/environments/development.rb#L4-L7

Sidekiq doesn't like autoloading.

-Justin

On Fri, Jul 15, 2016 at 3:42 PM, Corey Hinshaw <notifications@github.com>
wrote:

[2016-07-15 22:26] pgwillia commented on #2322
I'm seeing this error in sufia 7.0.0.rc1.  What was the solution?

[2016-07-15 22:43] jcoyne commented on #2322
@pgwillia probably update blacklight to 6.3.1

[2016-07-18 15:20] awead commented on #2323
@electrickite can we close this?

[2016-07-18 15:41] electrickite commented on #2323
Just tried again with a fresh Rails app and Sufia 7.0.0.rc1 and I did not encounter the same errors. Closing.

[2016-07-18 15:41] #2323 closed

[2016-07-18 15:44] electrickite commented on #2362
Thanks, @jcoyne !

For anyone else that runs into this issue, changing `config.cache_classes = false` to `config.cache_classes = !!Sidekiq.server?` in `config/environments/development.rb` did the trick.

[2016-07-18 15:44] #2362 closed

[2016-07-18 16:04] jamesvanmil opened #2363 "BatchUploads error in 7.0.0.rc1"
I did a fresh install of 7.0.0.rc1 this morning, using these instructions:  https://github.com/projecthydra/sufia/tree/v7.0.0.rc1#creating-a-sufia-based-app

All is working so far, except for Batch Uploads... When I visit `batch_uploads/new`, I get:

[code]

Prior to triggering these errors, I created two users, set up a proxy, and added two works.

[2016-07-18 18:14] mtribone opened #2365 "Collection Show - Bootlint Errors"
### Descriptive summary

In Sufia 7.0.0, the bootlinter found the following error in 4 instances:

1. bootlint:  E014  Columns (`.col-*-*`) can only be children of `.row`s or `.form-group`s
  1. h2.col-xs-6.col-md-7.col-lg-6
  1. div.col-xs-6.col-md-5.col-lg-6
  1. fieldset.col-xs-12.col-sm-9.col-md-8.col-lg-10
  1. div.view-type.col-xs-12.col-sm-3.col-md-4.col-lg-2

### Related work

#2357 #2004

[2016-07-18 18:59] mjgiarlo commented on #2301
We've got `We recommend either Ruby 2.3 or the latest 2.2 version` in the README, so I'll close this issue. Thanks for reporting it, @lfarrell!

[2016-07-18 18:59] #2301 closed

[2016-07-19 03:57] jcoyne commented on #2363
I've confirmed this bug.

[2016-07-19 14:35] #2365 closed

[2016-07-19 14:35] #2363 closed

[2016-07-19 18:15] awead opened #2368 "Single-use link button doesn't copy on the first try"
### Descriptive summary

Clicking the Single-Use Link to File button on the show page will create a single-use link, but there is no link returned to the UI. The alert message displays, but with a null link. Clicking the button a second time does copy the link the clipboard and show the alert message with the link.

### Expected behavior

Clicking the button once should create the link, copy it to

[2016-07-19 18:16] awead commented on #2358
Behavior has changed: see #2368

[2016-07-19 18:16] #2358 closed

[2016-07-21 17:44] mtribone opened #2373 "Add New Work (descriptions) - Bootlint Errors"
### Descriptive summary

In Sufia 7.0.0, the bootlinter found the following errors:

1. `.input-group` contains a `<select>`; this should be avoided as `<select>`s cannot be fully styled in WebKit browsers
  1. select#generic_work_rights.string.multi_value.required.form-control.generic_work_rights.form-control.multi-text-field
  1. https://github.com/twbs/bootlint/wiki/E006
1. `.input-group` conta

[2016-07-21 18:08] mjgiarlo commented on #2368
Should this ticket move into projecthydra/curation_concerns#278? CC has all the single-use impl except for this Javascript:

https://github.com/projecthydra/sufia/blob/master/app/assets/javascripts/sufia/single_use_link.js

and its spec:

https://github.com/projecthydra/sufia/blob/master/spec/javascripts/single_use_link_spec.js.coffee

Do the CC folks prefer those bits of the impl to stay in Sufia

[2016-07-22 15:06] hackmastera opened #2374 "delete show_fields views or move logic to renderers"
### Descriptive summary

https://github.com/projecthydra/sufia/tree/master/app/views/records/show_fields

All this logic has been moved in curation concerns. Anything that's taken care of by https://github.com/projecthydra/curation_concerns/blob/master/app/renderers/curation_concerns/renderers/attribute_renderer.rb#L23 and https://github.com/projecthydra/sufia/blob/7876064ac9f829e1b4e2d6f18e926fc8

[2016-07-25 14:33] mtribone commented on #2373
Moving issue to Hydra Editor https://github.com/projecthydra/hydra-editor/issues/116

[2016-07-25 16:31] grosscol opened #2375 "task sufia:stats:user_stats results in error"
### Descriptive summary

Using the internal test app of Sufia 7.0.0.rc2, running the sufia:stats:user_stats task results in the following warning, then error:

[code]

Line in user_stat_importer.rb:9 is:
[code]

### Expected behavior
Report stats caching done immediately as there are no users.

### Actual behavior
Error.

### Steps to reproduce the behavior
[code]
### Related work

Link to related

[2016-07-26 12:58] mtribone commented on #2373
Gonna reopen this issue as the work may live in multiple places between Sufia and Hydra Editor.

[2016-07-26 21:51] #2373 closed

[2016-07-26 21:55] #2375 closed

[2016-07-28 13:32] grosscol opened #2379 "Analytics button does not respect relative_url_root"
### Descriptive summary
The analytics button on the show pages does not render a link that respects relative_url_root.

### Expected behavior
The button renderer to create a link to

`myhost.edu/rel_root/mywork/id/stats`
### Actual behavior
The button renderer creates a link to:
`myhost.edu/mywork/id/stats`

### Steps to reproduce the behavior

1. Generate app
1. Set config.analytics=true in sufia

[2016-07-28 15:05] revgum opened #2380 "undefined method 'sufia__pageview' while rendering stats page"
In non-production environments, rendering the stats view for a work results in : `NoMethodError: undefined method `sufia__pageview' for #<Legato::Management::Profile:0x007f1c449cc1f8>
...`

We found that the PageView and Download models weren't being eager loaded in non-production environments, and the fix was very simple yet not very clear or easy to identify at first.

I'm proposing we introduce

[2016-07-29 13:12] awead opened #2384 "Opt out of upload agreement"
In previous versions of Sufia, there was a *somewhat* straightforward way to bypass clicking the deposit agreement when uploading files. Does there exist a similar mechanism in Sufia 7?

Some institutions might want to forgo having users click on the agreement every time and have their own policies.

[2016-07-29 13:42] awead commented on #2384
duh. `Sufia.config.active_deposit_agreement_acceptance`

[2016-07-29 13:42] #2384 closed

[2016-07-29 15:42] awead opened #2385 "Can't save with active_deposit_agreement_acceptance set to false"
### Descriptive summary

When setting active_deposit_agreement_acceptance to false in the Sufia config, the Save button is still disabled even if all the metadata requirements are met.

### Expected behavior

If I've set active_deposit_agreement_acceptance to false, then entering all the metadata and uploading a file should satisfy the requirements.

### Actual behavior

Save butt on is still disa

[2016-07-29 17:44] #2385 closed

[2016-08-01 16:35] cam156 commented on #2303
@jcoyne I just testing this on our sufia 6 instance and it used to delete a contributor.  This seems like a bug that has been introduced by the migrations.

I would love to see an overhaul of batch edit.  When we talked about it in the past we had said that a spread sheet type editor with the ability to see all the columns and values and copy down (across) to all records would be nice.

[2016-08-01 17:44] bnhowell opened #2387 "Regression of Multi-field Accessibility and Usability from previous pull request in hydra-editor"
### Descriptive summary

A previous pull request [https://github.com/projecthydra/hydra-editor/pull/113] for improved multi-field accessibility and usability in the /hydra-editor repository have not been implemented in the Create New Work page of the vanilla Sufia 7 interface.  Looks like the pull request was lost when the Hydra Editor repo stopped being used.

### Prior work

See [#2021](https://

[2016-08-01 17:45] bnhowell commented on #2387
@mjgiarlo: Could you take a look into this?

[2016-08-01 18:20] mjgiarlo commented on #2380
@projecthydra/sufia-code-reviewers do y'all have any thoughts on why @revgum would be seeing this eager loading behavior? Is this how you would expect eager loading to vary in Rails?

[2016-08-01 18:24] mjgiarlo commented on #2387
@bnhowell Yep, happy to. AFAIK, Sufia still uses hydra-editor, via CurationConcerns.

Can you include a screenshot of what you're seeing now, and ideally a link to a previous screenshot of what you should be seeing?

[2016-08-01 19:50] bnhowell commented on #2387
**What I'm currently seeing in default Sufia UI:**
![Current Sufia 7 Multifield UI](https://cloud.githubusercontent.com/assets/16804543/17306693/549bef22-57ff-11e6-8b64-8deb13d202ca.png)

**What I expected to see based on previous pull requests:**
![multifield_improved](https://cloud.githubusercontent.com/assets/16804543/17306732/99b34b6e-57ff-11e6-91e1-9c06709cd7a8.gif)

[2016-08-01 21:11] mjgiarlo commented on #2387
Thank you, @bnhowell!

[2016-08-01 22:13] mjgiarlo commented on #2327
Is this on your plate, @mtribone?

[2016-08-01 22:13] mjgiarlo commented on #2325
Are you still working on this, @mtribone, or is this work already done?

[2016-08-01 22:17] mjgiarlo commented on #2173
Given all the feedback we've received on this issue, I'm inclined to close it. I would be open to someone else reworking this ticket to, e.g., make it a configurable behavior which defaults to displaying the related URL with descriptive metadata, but the idea of doing that much work oriented around a single metadata field which may or may not be present (given that downstream adopters do customize

[2016-08-01 22:22] mjgiarlo commented on #1673
This is already done.

[2016-08-01 22:22] #1673 closed

[2016-08-01 22:25] mjgiarlo commented on #2174
Leaving the same comment here as I did on #2173:

[2016-08-02 11:24] mtribone commented on #2325
@mjgiarlo Yeah made the fix in CC and waiting for it to be cut and included into Sufia.

[2016-08-02 11:25] mtribone commented on #2327
@mjgiarlo Yup. As soon as the fix gets cut in CC.

[2016-08-02 13:45] jcoyne opened #2388 "Switch social media to sharingbuttons.io"
These don't track the user.

http://sharingbuttons.io/

[2016-08-02 15:04] jcoyne commented on #2387
@bnhowell the changes you are looking for are in Hydra-editor 3.0.0.beta1.  You are using hydra-editor 2.0.0

[2016-08-02 15:04] #2387 closed

[2016-08-02 15:06] jcoyne commented on #2380
I just tested this out and I'm unable to produce the issue you are seeing.   Can you link to the source code for the application that you are using?

[2016-08-02 17:30] mjgiarlo commented on #2325
@mtribone I believe the fix was released in CC 1.2.0, and Sufia should now pick up that release. Do you think you'll have cycles to check this and close the issue if it's all good?

[2016-08-02 17:32] mjgiarlo commented on #2327
@mtribone are you saying the fix is in CC and needs to be released, or the fix needs to be added to CC? if the former, CC 1.2.0 contains all the recent commits, and Sufia should now pick up 1.2.0. Do you think you'll have cycles soon to verify this and close the issue if it's all good?

[2016-08-02 17:42] grosscol commented on #2387
Thanks for clearing that up @jcoyne.  Sufia 7.0 specifies hydra-editor < 4, but the beta1 version suffix was preventing us from picking up the gem.  I'll force the update and @bnhowell can continue this investigation.

[2016-08-02 17:56] mtribone commented on #2387
Also we replaced the asterisks with the new required badges and better help text.

[2016-08-02 18:03] mjgiarlo commented on #2387
@jcoyne should we push out a 3.0.0 release and get Sufia using it?

[2016-08-02 18:08] jcoyne commented on #2387
I see no reason not to push hydra-editor 3.0.0

[2016-08-02 18:21] mtribone commented on #2325
CC is still at 1.1

https://github.com/projecthydra/sufia/blob/master/sufia.gemspec#L21

[2016-08-02 18:28] mjgiarlo commented on #2325
@mtribone the `~>` there means Sufia can use CC 1.x, so 1.2.0 should work A-OK.

[2016-08-02 18:31] mtribone commented on #2325
Okay. I will look for an override that is preventing the expected behavior.

![screen shot 2016-08-02 at 2 17 32 pm](https://cloud.githubusercontent.com/assets/4163828/17340331/b334ceb4-58bd-11e6-922a-a7ece0ebd7a9.png)

[2016-08-02 18:34] mjgiarlo commented on #2387
:speech_balloon: @jcoyne

I do:

[code]

;) (Tried w/ and w/out `RAILS_VERSION` and `bundle exec` to no avail.)

[2016-08-02 18:36] mtribone commented on #2325
https://github.com/projecthydra/sufia/blob/master/app/views/curation_concerns/base/_metadata.html.erb#L8

[2016-08-02 18:39] mtribone commented on #2325
![screen shot 2016-08-02 at 2 39 05 pm](https://cloud.githubusercontent.com/assets/4163828/17340591/e9f32e9a-58be-11e6-9ab7-33bd6d743d54.png)

[2016-08-02 18:49] mjgiarlo commented on #2325
@mtribone what'd you change to get it rendering properly?

[2016-08-02 18:55] mtribone commented on #2325
metadata.html.erb ⏫  waiting for branch to go green and then PR

[2016-08-02 18:56] mjgiarlo commented on #2325
Ah, I see. Missed it. Thanks, @mtribone!

[2016-08-02 19:59] #2325 closed

[2016-08-02 20:41] jcoyne commented on #2387
@mjgiarlo when is the last time you did `bundle update` in that project?

[2016-08-02 20:42] jcoyne commented on #2387
@mjgiarlo make sure you remove the `.internal_test_app` first.

[2016-08-02 20:51] mjgiarlo commented on #2387
@jcoyne tried both of those first. It's picking up AF 9.0.7 or so for some reason.